<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2024TeamC/blob/main/Code/ETL2Datawarehouse_GS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kursarbeit Datenmanagement und -Archivierung WS 23/24**

Master-Code Name-CALICO:MA

**Erstellung der Datenbank**


*   Datenbankinitialisierung:

> Laden Libraries

In [35]:
import os
import pandas as pd
from functools import reduce
import sqlite3
from sqlite3 import Error
import csv
#import requests

>Google drive verbinden

In [36]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)
!ls drive/

Mounted at /content/drive
MyDrive  Shareddrives

>connect to repo

In [37]:
# Pfad zum Ordner
ordner_pfad = "/pfad/zum/ordner"
unterordner_name = "mein_unterordner"

# Vollständiger Pfad zum Unterordner
unterordner_pfad = os.path.join(ordner_pfad, unterordner_name)

# Überprüfen, ob der Unterordner existiert
if not os.path.exists(unterordner_pfad):
    # Wenn der Unterordner nicht existiert, erstellen Sie ihn
    os.makedirs(unterordner_pfad)
    print(f"Unterordner '{unterordner_name}' wurde erstellt.")
else:
    print(f"Unterordner '{unterordner_name}' existiert bereits.")

Unterordner 'mein_unterordner' existiert bereits.

In [38]:
#definieren des Ordners in dem die repo gesichert werdern soll
google_drive_folder = "drive/MyDrive"
repo_colab_name = "calico_ma_repo"
#full_path_repo_colab = f"{google_drive_folder}+"//"+{repo_colab_name}"
full_path_repo_colab = os.path.join(google_drive_folder,repo_colab_name)
if not os.path.exists(full_path_repo_colab):
    os.makedirs(full_path_repo_colab)
    print(f"Ordner {full_path_repo_colab} ajngelegt")
else:
    print(f"Ordner {full_path_repo_colab} existiert bereits")

Ordner drive/MyDrive/calico_ma_repo existiert bereits

In [39]:
! apt-get install git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.10).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.

In [40]:
!git clone https://github.com/Fuenfgeld/DMA2024TeamC.git $full_path_repo_colab

fatal: destination path 'drive/MyDrive/calico_ma_repo' already exists and is not an empty directory.

In [41]:
!ls $full_path_repo_colab

Code  Data  Documentation  LICENSE  README.md

>Definition der Umgebnungsvariablen

>Verbindung zu CSV-Dateien herstellen und Kategorisierung nach der Tumorerkrankung

In [42]:
#repo_home = "/home/gunnar/DMA2024TeamC/" ## muss entsprechend angepasst werden für das lokale repo verzeichnis
repo_home = full_path_repo_colab+"/" ## repo in google drive
csv_data_folder = repo_home + "Data/Quelldaten/CSV_Data/"
project_name = "CALICO_MA"
print(repo_home)
print (csv_data_folder)

drive/MyDrive/calico_ma_repo/
drive/MyDrive/calico_ma_repo/Data/Quelldaten/CSV_Data/



> Verbindung zu SQLite herstellen und Datebankinitialisierung Local

>The provided code is a Python script that establishes a connection to a SQLite database and creates a cursor object for executing SQL commands.
>The `create_connection_local` function is defined to establish a connection to a SQLite database. The function takes one parameter, `local_path`, which is the path to the database file. Inside the function, a `try` block is used to attempt to establish the connection. The `sqlite3.connect` function is called with the path to the database file, which is constructed by concatenating `local_path`, the string 'Data/CALICO_MA_Database/', and the global variable `project_name` with '.db' extension. If the connection is established successfully, the connection object is returned. However, the `print(sqlite3.version)` statement after the `return` statement will never be executed because the function exits as soon as it hits the `return` statement. If there is an error while establishing the connection, it is caught by the `except` block, and a message is printed to the console.
>After the `create_connection_local` function is defined, it is called with `repo_home` as the argument, and the returned connection object is stored in the `conn` variable.
>Next, a cursor object is created by calling the `cursor` method on the connection object. This cursor object, stored in the `cur` variable, can be used to execute SQL commands.
>Finally, a success message is printed to the console, indicating that the connection to the SQLite database was established successfully. The message includes the path to the database file.

In [43]:
def create_connection_local(local_path):
  conn = None;
  try:
    #Establishing the connection
    conn = sqlite3.connect(local_path+'Data/CALICO_MA_Database/'+project_name+'.db')
    return conn
    print(sqlite3.version)
  except Error as e:
    print("Error while connecting to sqlite", e)
conn = create_connection_local(repo_home)
# Creating a cursor object using the cursor() method
cur = conn.cursor()
print("Successfully Connected to SQLite Public Data Warehouse: "+repo_home+'Data/CALICO_MA_Database/'+project_name+'.db')

Successfully Connected to SQLite Public Data Warehouse: drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db

> Quelldatenimport

This Python script is used to read multiple CSV files from different directories, create pandas DataFrames from them, and then concatenate these DataFrames based on their types.

Here's a step-by-step explanation:

1. Two lists are defined: `csvs` and `tumortypes`. `csvs` contains the names of different types of CSV files, and `tumortypes` contains the names of different types of tumors.

2. An empty dictionary `df` is created to store the DataFrames.

3. The script then enters a nested loop where it iterates over each tumor type and each CSV type. For each combination, it constructs a key (e.g., "procedures_Breast_Cancer") and a file path.

4. It reads the CSV file at the constructed path into a DataFrame, adds a new column `cancer_type` to the DataFrame, and stores the DataFrame in the `df` dictionary with the constructed key.

5. The DataFrame is also appended to a list in the `csv_dfs` dictionary corresponding to its CSV type.

6. After all CSV files have been read and their DataFrames stored, the script concatenates the DataFrames in each list in the `csv_dfs` dictionary. The result is a dictionary where each key is a CSV type and each value is a DataFrame that is the concatenation of all DataFrames of that CSV type.

7. Finally, the script prints the first few rows of each DataFrame in the `df` and `csv_dfs` dictionaries.

The commented-out code at the end of the script shows how individual CSV files were previously read into DataFrames. This code has been replaced by the loop that reads and concatenates all CSV files.

In [44]:
# Generate dataframes and add cancer_type information as a new column

csvs = ["procedures", "encounters", "immunizations", "medications", "observations", "patients"]

tumortypes = ["Breast_Cancer", "Lung_Cancer", "Colorectal_Cancer"]

df = {}
csv_dfs = {csv: [] for csv in csvs}

for tumor in tumortypes:
    for csv in csvs:
        key = f"{csv}_{tumor}"
        path = f"{csv_data_folder}{tumor}/{csv}.csv"
        df[key] = pd.read_csv(path, sep=",")
        df[key] = df[key].assign(cancer_type=tumor)

        # Add the dataframe to the list for this csv
        csv_dfs[csv].append(df[key])

# Check the sum of the number of rows in the original dataframes for each csv
for csv in csvs:
    total_rows = sum(len(df[csv + '_' + tumor]) for tumor in tumortypes)
    print(f"Total number of rows in original dataframes for {csv}: {total_rows}")
    print("\n")
# Concatenate the dataframes for each csv
for csv in csvs:
    csv_dfs[csv] = pd.concat(csv_dfs[csv])

# Check the number of rows and unique cancer types in each concatenated dataframe
for csv, df in csv_dfs.items():
    print(f"Concatenated DataFrame for {csv}:")
    print(f"Number of rows: {len(df)}")
    print(f"Unique cancer types: {df['cancer_type'].unique()}")
    print("\n")

Total number of rows in original dataframes for procedures: 2140


Total number of rows in original dataframes for encounters: 25836


Total number of rows in original dataframes for immunizations: 37878


Total number of rows in original dataframes for medications: 1258


Total number of rows in original dataframes for observations: 95849


Total number of rows in original dataframes for patients: 3084


Concatenated DataFrame for procedures:
Number of rows: 2140
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for encounters:
Number of rows: 25836
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for immunizations:
Number of rows: 37878
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for medications:
Number of rows: 1258
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for observations:
Number of rows: 95849
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for patients:
Number of rows: 3084
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']

>Quality checks of the dataframes

In [45]:
# .nunique(axis=0) returns the number of unique values for each columns in the concanated dataframes.
for csv, df in csv_dfs.items():
    print(f"Quality for concanated DataFrame {csv}:\n{df.nunique(axis=0)}")
    print("\n")

Quality for concanated DataFrame procedures:
DATE                 1804
PATIENT               449
ENCOUNTER            1593
CODE                   37
DESCRIPTION            37
BASE_COST            2044
REASONCODE             11
REASONDESCRIPTION      11
cancer_type             3
dtype: int64


Quality for concanated DataFrame encounters:
Id                     25836
START                  25521
STOP                   25720
PATIENT                 3084
ORGANIZATION            2268
PROVIDER                2806
PAYER                     10
ENCOUNTERCLASS             5
CODE                      15
DESCRIPTION               18
BASE_ENCOUNTER_COST        2
TOTAL_CLAIM_COST           2
PAYER_COVERAGE            15
REASONCODE                11
REASONDESCRIPTION         11
cancer_type                3
dtype: int64


Quality for concanated DataFrame immunizations:
DATE           23245
PATIENT         3084
ENCOUNTER      23349
CODE              18
DESCRIPTION       18
BASE_COST          1
cancer_type        3
dtype: int64


Quality for concanated DataFrame medications:
START                 594
STOP                  222
PATIENT               314
PAYER                  10
ENCOUNTER             595
CODE                   24
DESCRIPTION            24
BASE_COST            1199
PAYER_COVERAGE        123
DISPENSES             238
TOTALCOST            1241
REASONCODE              4
REASONDESCRIPTION       4
cancer_type             3
dtype: int64


Quality for concanated DataFrame observations:
DATE           31296
PATIENT         3084
ENCOUNTER        289
CODE              53
DESCRIPTION       55
VALUE           1268
UNITS             18
TYPE               2
cancer_type        3
dtype: int64


Quality for concanated DataFrame patients:
Id                     3084
BIRTHDATE              2860
DEATHDATE                84
SSN                    3078
DRIVERS                2503
PASSPORT               2377
PREFIX                    3
FIRST                  2055
LAST                    660
SUFFIX                    3
MAIDEN                  423
MARITAL                   2
RACE                      5
ETHNICITY                 2
GENDER                    2
BIRTHPLACE              369
ADDRESS                3084
CITY                    295
STATE                     1
COUNTY                   14
ZIP                     272
LAT                    3084
LON                    3084
HEALTHCARE_EXPENSES    2624
HEALTHCARE_COVERAGE     948
cancer_type               3
dtype: int64

In [46]:
#percentage of not null values in each column in the concanated dataframes.
for csv, df in csv_dfs.items():
    print(f"percentage of not null values in each column of concanated DataFrame {csv}:\n{df.count()/len(df) * 100}")
    print("\n")

percentage of not null values in each column of concanated DataFrame procedures:
DATE                 100.000000
PATIENT              100.000000
ENCOUNTER            100.000000
CODE                 100.000000
DESCRIPTION          100.000000
BASE_COST            100.000000
REASONCODE            74.439252
REASONDESCRIPTION     74.439252
cancer_type          100.000000
dtype: float64


percentage of not null values in each column of concanated DataFrame encounters:
Id                     100.0000
START                  100.0000
STOP                   100.0000
PATIENT                100.0000
ORGANIZATION           100.0000
PROVIDER               100.0000
PAYER                  100.0000
ENCOUNTERCLASS         100.0000
CODE                   100.0000
DESCRIPTION            100.0000
BASE_ENCOUNTER_COST    100.0000
TOTAL_CLAIM_COST       100.0000
PAYER_COVERAGE         100.0000
REASONCODE               2.2488
REASONDESCRIPTION        2.2488
cancer_type            100.0000
dtype: float64


percentage of not null values in each column of concanated DataFrame immunizations:
DATE           100.0
PATIENT        100.0
ENCOUNTER      100.0
CODE           100.0
DESCRIPTION    100.0
BASE_COST      100.0
cancer_type    100.0
dtype: float64


percentage of not null values in each column of concanated DataFrame medications:
START                100.000000
STOP                  39.666137
PATIENT              100.000000
PAYER                100.000000
ENCOUNTER            100.000000
CODE                 100.000000
DESCRIPTION          100.000000
BASE_COST            100.000000
PAYER_COVERAGE       100.000000
DISPENSES            100.000000
TOTALCOST            100.000000
REASONCODE             6.915739
REASONDESCRIPTION      6.915739
cancer_type          100.000000
dtype: float64


percentage of not null values in each column of concanated DataFrame observations:
DATE           100.000000
PATIENT        100.000000
ENCOUNTER        2.296320
CODE           100.000000
DESCRIPTION    100.000000
VALUE          100.000000
UNITS           99.837244
TYPE           100.000000
cancer_type    100.000000
dtype: float64


percentage of not null values in each column of concanated DataFrame patients:
Id                     100.000000
BIRTHDATE              100.000000
DEATHDATE                2.723735
SSN                    100.000000
DRIVERS                 82.328145
PASSPORT                77.075227
PREFIX                  79.863813
FIRST                  100.000000
LAST                   100.000000
SUFFIX                   1.037613
MAIDEN                  26.426719
MARITAL                 66.147860
RACE                   100.000000
ETHNICITY              100.000000
GENDER                 100.000000
BIRTHPLACE             100.000000
ADDRESS                100.000000
CITY                   100.000000
STATE                  100.000000
COUNTY                 100.000000
ZIP                     53.988327
LAT                    100.000000
LON                    100.000000
HEALTHCARE_EXPENSES    100.000000
HEALTHCARE_COVERAGE    100.000000
cancer_type            100.000000
dtype: float64

In [47]:
#Delete Tables in case they exist
cur.execute("DROP TABLE IF EXISTS procedures")
cur.execute("DROP TABLE IF EXISTS encounters")
cur.execute("DROP TABLE IF EXISTS immunizations")
cur.execute("DROP TABLE IF EXISTS medications")
cur.execute("DROP TABLE IF EXISTS observations")
cur.execute("DROP TABLE IF EXISTS patients")
cur.execute("DROP TABLE IF EXISTS facts_table")

>Create tables including facts_table

In [48]:
# Create tables including facts_table

sql_table = {}

create_table_command = """CREATE TABLE IF NOT EXISTS patients (
                           Id         STRING PRIMARY KEY,
                           BIRTHDATE  DATE,
                           DEATHDATE  DATE,
                           SSN        STRING,
                           DRIVERS    STRING,
                           PASSPORT   STRING,
                           PREFIX     STRING,
                           FIRST      STRING,
                           LAST       STRING,
                           SUFFIX     STRING,
                           MAIDEN     STRING,
                           MARITAL    STRING,
                           RACE       STRING,
                           ETHNICITY  STRING,
                           GENDER     STRING,
                           BIRTHPLACE STRING,
                           ADDRESS    STRING,
                           CITY       STRING,
                           STATE      STRING,
                           COUNTY    STRING,
                           ZIP        STRING,
                           LAT        DECIMAL(6,2),
                           LON        DECIMAL(6,2),
                           HEALTHCARE_EXPENSES DECIMAL(9,2),
                           HEALTHCARE_COVERAGE DECIMAL(9,2),
                           cancer_type STRING
  );

CREATE TABLE IF NOT EXISTS encounters (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ORGANIZATION STRING,
                           PROVIDER STRING,
                           PAYER STRING,
                           ENCOUNTERCLASS STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_ENCOUNTER_COST DECIMAL(9,2),
                           TOTAL_CLAIM_COST DECIMAL(9,2),
                           PAYER_COVERAGE DECIMAL(9,2),
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id)
);



CREATE TABLE IF NOT EXISTS observations (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           VALUE STRING,
                           UNITS STRING,
                           TYPE STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT) REFERENCES patients (Id),
                           FOREIGN KEY (Encounter) REFERENCES encounters (Id)
);


CREATE TABLE IF NOT EXISTS medications (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           PAYER STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST DECIMAL(9,2),
                           PAYER_COVERAGE DECIMAL(9,2),
                           DISPENSES DECIMAL(9,2),
                           TOTALCOST DECIMAL(9,2),
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id)
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id)
  );

CREATE TABLE IF NOT EXISTS procedures (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST DECIMAL(9,2),
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT) REFERENCES patients (Id),
                           FOREIGN KEY (Encounter) REFERENCES encounters (Id)
                       );

CREATE TABLE IF NOT EXISTS immunizations (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST DECIMAL(9,2),
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id)
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id)
  );

CREATE TABLE IF NOT EXISTS facts_table (
                          cancer_type STRING,
                          patient_ID STRING,
                          encounter_ID STRING,
                          patient_LAT        DECIMAL(6,2),
                          patient_LON        DECIMAL(6,2),
                          patient_HEALTHCARE_EXPENSES DECIMAL(9,2),
                          patient_HEALTHCARE_COVERAGE DECIMAL(9,2),
                          patient_BIRTHDATE DATE,
                          observations_CODE STRING,
                          observations_VALUE STRING,
                          observations_DATE  DATE,
                          observations_AGE DECIMAL(6,2),
                          procedures_BASE_COST DECIMAL(11,2),
                          medications_TOTALCOST DECIMAL(11,2),
                          immunizations_BASE_COST DECIMAL(11,2),
                          encounter_BASE_ENCOUNTER_COST DECIMAL(11,2),
                          FOREIGN KEY (patient_ID) REFERENCES patients (Id),
                          FOREIGN KEY (patient_ID) REFERENCES observations (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES observations (ENCOUNTER),
                          FOREIGN KEY (patient_ID) REFERENCES encounters (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES encounters (Id),
                          FOREIGN KEY (patient_ID) REFERENCES procedures (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES procedures (ENCOUNTER),
                          FOREIGN KEY (patient_ID) REFERENCES medications (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES medications (ENCOUNTER),
                          FOREIGN KEY (patient_ID) REFERENCES immunizations (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES immunizations (ENCOUNTER)

);
"""
# Execute the SQL command
cur.executescript(create_table_command)

conn.commit()

In [49]:
#Insert data from the concanated data frames into the tables

for csv, df in csv_dfs.items():
    df.to_sql(csv, conn, if_exists='append', index=False)

conn.commit()

In [50]:
#Check if data is in the tables. 10 random rows are selected from each table

for csv in csvs:
    cur.execute(f"SELECT * FROM {csv} ORDER BY RANDOM() LIMIT 10")
    rows = cur.fetchall()
    df_random = pd.DataFrame(rows, columns=[desc[0] for desc in cur.description])
    print(f"SQL tables from {repo_home}Data/CALICO_MA_Database/{project_name}.db' \n\n{csv} {df_random} ")

SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db'

procedures                    DATE                               PATIENT  \
0  2020-04-21T00:49:54Z  0602211b-610b-bf4f-0ce2-879301dfc44b
1  2012-03-04T10:32:38Z  699909fa-c545-5116-7434-9f03accacf80
2  2014-08-22T10:53:58Z  e2f4128f-618a-1518-7641-289832c5cd6e
3  2018-12-20T10:53:25Z  8a79b563-d2f0-4257-e21d-3e9d8535dbf7
4  2018-12-31T22:07:53Z  fa2c86b0-de0c-fb52-6784-a61cd5b53345
5  2015-06-07T15:55:52Z  8ad8da9a-7523-830a-330d-8c8af31fed8c
6  2015-10-24T04:35:55Z  b4bb7b89-e11d-0102-bad3-11c3d41f73f9
7  2012-11-13T16:20:55Z  a1f31bff-edd2-720a-92e0-3e7bc96ea7e7
8  2011-08-13T12:25:57Z  c56f65a8-89a5-71c5-4765-043119cbc6c8
9  2019-08-21T05:29:26Z  86b73fb5-f60e-1e0c-bf82-8e87bb5927bd

                              ENCOUNTER       CODE  \
0  b9f5c3cc-bdf0-665f-f368-ab94ddc15dd6   73761001
1  d132b0b5-acb0-ca51-a238-69651731d911   73761001
2  919dd396-85be-c7e2-013c-f12375813602  430193006
3  1aba0dcc-3956-e9e6-17db-7114bc3ca145   35025007
4  c73ff8cd-49a7-ef67-2673-09aae9e8b38c   73761001
5  4ba58a6d-37f7-dafa-9012-d884ed047166  104435004
6  2782e318-1372-fa97-5bf8-a36c701003fc   73761001
7  1066fa23-32a0-4ca5-3645-bf7a1227f0a2   40701008
8  f08ef633-f09d-e231-a4f7-49ddc335781b   73761001
9  fe9adb88-07d0-63c4-26a0-236c4b86a10e  180325003

                                       DESCRIPTION  BASE_COST   REASONCODE  \
0                                      Colonoscopy   22635.56          NaN
1                                      Colonoscopy   14673.85          NaN
2            Medication Reconciliation (procedure)     447.42          NaN
3            Manual pelvic examination (procedure)     159.81  254837009.0
4                                      Colonoscopy    9880.32          NaN
5  Screening for occult blood in feces (procedure)    7285.45   68496003.0
6                                      Colonoscopy   17433.30          NaN
7                     Echocardiography (procedure)    1496.27  410429000.0
8                                      Colonoscopy   11221.92          NaN
9                         Electrical cardioversion   32612.68   49436004.0

                         REASONDESCRIPTION        cancer_type
0                                     None  Colorectal_Cancer
1                                     None  Colorectal_Cancer
2                                     None  Colorectal_Cancer
3  Malignant neoplasm of breast (disorder)      Breast_Cancer
4                                     None  Colorectal_Cancer
5                           Polyp of colon  Colorectal_Cancer
6                                     None  Colorectal_Cancer
7                           Cardiac Arrest      Breast_Cancer
8                                     None  Colorectal_Cancer
9                      Atrial Fibrillation        Lung_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db'

encounters                                      Id                 START  \
0  816188e0-07a2-a6b7-13da-f6eee524f93b  2019-10-10T12:54:15Z
1  a948676e-03b2-3366-f3dd-6debc02ed9bd  2020-04-12T10:00:28Z
2  58173aeb-1893-6255-9bbc-1a797c9bcd52  2019-07-25T18:43:24Z
3  3d2088a2-c504-8306-3ff2-39a2c322775a  2011-04-04T03:25:17Z
4  d0f8eaa3-0511-6866-64cd-6fbb28705d8e  2017-05-29T00:07:40Z
5  efcc7ea5-5646-ac0f-b92d-4a7e1674aeb7  2013-06-08T14:39:42Z
6  c8e4735e-7ccd-2002-2f0b-917358d845ae  2011-10-26T23:38:43Z
7  31cbb676-144b-213e-2f54-65501bd8b9fb  2018-04-11T20:13:07Z
8  69f21d6e-1669-991d-6b8d-5377f64db810  2016-07-18T15:19:43Z
9  875b2ca8-7e0c-12f3-6bce-351e934392b2  2013-12-08T05:02:46Z

                   STOP                               PATIENT  \
0  2019-10-10T13:09:15Z  ab83ddad-e624-dd52-e9bd-30cdb11e6cfa
1  2020-04-12T10:15:28Z  353dd5de-46cf-a5ab-4651-3d655c5c2269
2  2019-07-25T18:58:24Z  a29158c6-cab7-f178-cf4d-36b24ab3d4c5
3  2011-04-04T03:40:17Z  b444f9c2-6692-a64e-109e-96039ac10e3f
4  2017-05-29T00:22:40Z  8e8f727c-7fda-f5f8-2466-94d1404596af
5  2013-06-08T14:54:42Z  6227d1a0-0cce-9a0f-60f4-435b78d95b98
6  2011-10-27T00:12:43Z  dbf846ce-1a83-5986-0942-96469f088624
7  2018-04-11T20:28:07Z  a733c9c7-0ce2-656f-b9db-7eb105fb9f34
8  2016-07-18T15:34:43Z  65302ddf-1fdb-f818-14b7-1b1747da2ba2
9  2013-12-08T05:17:46Z  2c7d45f6-02e8-308d-e457-846d24d91369

                           ORGANIZATION                              PROVIDER  \
0  03b9694a-0380-3bb4-9878-4b260179ef63  4fbe1837-c31f-3b54-8db0-9c7f05defe35
1  5ebb2110-3a7b-32c6-adf5-60f42b27af76  3beb10ba-5923-3ab7-a05a-48e5369ccf03
2  0964706a-e1ec-397c-bd9b-57aaa12b8cbd  82379b79-9e81-3550-87bb-2d0bd02d3064
3  68e8ec6f-6f29-31c7-86fd-b1c8cad147f5  7981d4f9-09f4-3daf-a671-cee24c0a49ca
4  bffef3f6-1fc7-3881-be74-0678fbe77b5b  5b7275ca-56f6-30ac-8163-9be57e7dd0f1
5  e3e21773-000d-36cf-bafb-deede85942f3  a9c824d5-0bf7-3131-9ee2-1332c410f355
6  5103c940-0c08-392f-95cd-446e0cea042a  94958bbb-5a41-3de6-9a8b-25450f4e3121
7  8a97561f-c559-3771-922d-8bcf6d9fe44c  742aa9c7-1d0c-3259-a9cf-1acbb272c020
8  0a5cc72f-82bf-3adc-a6f8-bd22e05d8c6d  1d6f79c6-2c6e-33a6-b1c8-57d5242d6e53
9  2589859c-41e2-3f01-b495-a62e9cb277d9  56a97f4f-d1aa-373b-9309-27c13fc6d460

                                  PAYER ENCOUNTERCLASS       CODE  \
0  7caa7254-5050-3b5e-9eae-bd5ea30e809c       wellness  162673000
1  4d71f845-a6a9-3c39-b242-14d25ef86a8d       wellness  162673000
2  42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a       wellness  410620009
3  047f6ec3-6215-35eb-9608-f9dda363a44c       wellness  162673000
4  d47b3510-2895-3b70-9897-342d681c769d       wellness  410620009
5  047f6ec3-6215-35eb-9608-f9dda363a44c       wellness  410620009
6  7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a     ambulatory  185349003
7  d47b3510-2895-3b70-9897-342d681c769d       wellness  162673000
8  7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a       wellness  410620009
9  6e2f1a2d-27bd-3701-8d08-dae202c58632       wellness  410620009

                                  DESCRIPTION  BASE_ENCOUNTER_COST  \
0  General examination of patient (procedure)               129.16
1  General examination of patient (procedure)               129.16
2                Well child visit (procedure)               129.16
3  General examination of patient (procedure)               129.16
4                Well child visit (procedure)               129.16
5                Well child visit (procedure)               129.16
6                    Encounter for 'check-up'                77.49
7  General examination of patient (procedure)               129.16
8                Well child visit (procedure)               129.16
9                Well child visit (procedure)               129.16

   TOTAL_CLAIM_COST  PAYER_COVERAGE REASONCODE REASONDESCRIPTION  \
0            129.16          129.16       None              None
1            129.16          129.16       None              None
2            129.16          129.16       None              None
3            129.16          129.16       None              None
4            129.16          129.16       None              None
5            129.16          129.16       None              None
6             77.49           17.49       None              None
7            129.16          129.16       None              None
8            129.16          129.16       None              None
9            129.16          129.16       None              None

         cancer_type
0      Breast_Cancer
1      Breast_Cancer
2        Lung_Cancer
3      Breast_Cancer
4      Breast_Cancer
5  Colorectal_Cancer
6  Colorectal_Cancer
7      Breast_Cancer
8      Breast_Cancer
9        Lung_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db'

immunizations                    DATE                               PATIENT  \
0  2019-11-25T08:00:58Z  e2f4128f-618a-1518-7641-289832c5cd6e
1  2014-11-08T01:36:32Z  72e710cc-5b41-ce6e-ef19-dfdb307e6a60
2  2015-10-22T01:13:57Z  5b005731-f6ab-4919-ae98-389c63afccb2
3  2019-01-13T05:36:04Z  e9f89e35-eee8-dd07-a5b3-a26a066fcb42
4  2017-04-10T23:26:24Z  ce999ae8-a020-0e96-2523-8085d8cfd7ee
5  2014-03-07T04:12:44Z  a51186f0-d61d-b45e-6642-bcd4feae4643
6  2011-10-16T18:25:24Z  1a2f4f1f-035a-ad41-9306-bfb0546f45c4
7  2018-10-14T11:02:46Z  c397b543-1777-ddad-7531-9b351548da0c
8  2018-05-02T00:59:05Z  c7dae8c7-3310-1c51-cb92-1c231ac3f608
9  2018-11-11T23:13:33Z  70fce484-7644-e7e8-dec2-1cea6ff0b2eb

                              ENCOUNTER  CODE  \
0  943807b6-6e0d-5e88-7015-e17996e4e3bd    33
1  12244ee8-31ed-ac3a-0c76-7903347a05ca   140
2  964a8dba-f5d3-b9d1-4973-64cbd42b9e36   140
3  14cb5ebe-cdf3-f937-efa7-fcc066f83c43   140
4  824352c4-7201-e9cc-0758-4038a3ed09cf    20
5  bfec9406-d7cb-07b7-6b0a-7a8b123cc8da    62
6  4922cb37-85ca-6588-7241-066db7480dc2   140
7  155be7bd-8343-30e7-f920-de2b199f57e1   140
8  4d33042e-4b75-bb1e-9f2e-95f10192a6a4    62
9  ae60d677-341d-9525-92b2-8958ae5ecaed    49

                                         DESCRIPTION  BASE_COST  \
0     pneumococcal polysaccharide vaccine  23 valent     140.52
1  Influenza  seasonal  injectable  preservative ...     140.52
2  Influenza  seasonal  injectable  preservative ...     140.52
3  Influenza  seasonal  injectable  preservative ...     140.52
4                                               DTaP     140.52
5                                  HPV  quadrivalent     140.52
6  Influenza  seasonal  injectable  preservative ...     140.52
7  Influenza  seasonal  injectable  preservative ...     140.52
8                                  HPV  quadrivalent     140.52
9                                      Hib (PRP-OMP)     140.52

         cancer_type
0  Colorectal_Cancer
1  Colorectal_Cancer
2        Lung_Cancer
3        Lung_Cancer
4  Colorectal_Cancer
5      Breast_Cancer
6      Breast_Cancer
7      Breast_Cancer
8  Colorectal_Cancer
9  Colorectal_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db'

medications                   START                  STOP  \
0  2018-04-02T08:57:19Z                  None
1  2013-03-12T21:04:42Z  2013-03-12T21:04:42Z
2  1998-04-11T03:23:00Z                  None
3  2017-05-01T07:52:41Z  2017-05-01T08:07:41Z
4  1991-05-10T14:18:14Z                  None
5  1991-05-07T15:24:40Z                  None
6  2016-10-18T11:57:05Z  2016-10-18T12:12:05Z
7  2013-08-04T19:25:30Z                  None
8  2019-06-28T08:18:51Z                  None
9  2015-01-29T12:38:16Z                  None

                                PATIENT                                 PAYER  \
0  5d8e204c-105b-3acd-b7da-ea30c215add2  7caa7254-5050-3b5e-9eae-bd5ea30e809c
1  8417ea73-2556-9bc3-817e-964762bda4ae  d47b3510-2895-3b70-9897-342d681c769d
2  5b325ec9-0381-8851-2b0c-de7f7432feef  4d71f845-a6a9-3c39-b242-14d25ef86a8d
3  0a3b7456-fe8a-f476-7213-1e2b316d2d85  7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a
4  1e593f1b-7d06-03a3-ffbc-f04932df5e8b  7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a
5  46b257d6-6445-c421-fe5f-8babf4f4c201  42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a
6  9b1de180-a7a1-3e4e-df13-bb0161c19972  047f6ec3-6215-35eb-9608-f9dda363a44c
7  e8360d11-b40c-7624-33cf-cbd0a8d9af93  047f6ec3-6215-35eb-9608-f9dda363a44c
8  1509c03a-c5b5-e732-0080-47c624abd1df  7caa7254-5050-3b5e-9eae-bd5ea30e809c
9  a77957a3-37bf-e5e5-deeb-920f24051c8f  7caa7254-5050-3b5e-9eae-bd5ea30e809c

                              ENCOUNTER     CODE  \
0  bee872bb-eef1-ac99-ffe2-50aa7284adee   309362
1  3317adf4-40f6-8812-5e25-60131e5d1c00  1734919
2  0408902c-352a-843c-c736-bc31a191cd53   312961
3  d62150b7-9558-a54b-2a4c-9dc7f7061bda   309362
4  84f30d7d-830f-cffd-ff24-1e027f8427c0   312961
5  22d2b991-a0ad-bd56-b89d-dff65cb30cdd   312961
6  3d7ea577-d629-7406-7430-d5fe2e6735c9  1660014
7  30467f80-1e7b-46bb-cb88-291c8ed429b8   197361
8  9dd4af7f-bba0-cac9-2586-b65e3cb8163e   309362
9  209cdb94-abb3-d7a1-febe-36ba771a56ff   897718

                          DESCRIPTION  BASE_COST  PAYER_COVERAGE  DISPENSES  \
0       Clopidogrel 75 MG Oral Tablet      34.72            0.00         32
1  Cyclophosphamide 1000 MG Injection     469.11            0.00          1
2       Simvastatin 20 MG Oral Tablet       8.18            0.00        201
3       Clopidogrel 75 MG Oral Tablet      88.33           28.33          1
4       Simvastatin 20 MG Oral Tablet      32.49            0.00        360
5       Simvastatin 20 MG Oral Tablet      29.22            0.00        325
6  1 ML Epinephrine 1 MG/ML Injection       4.74            0.00          1
7         Amlodipine 5 MG Oral Tablet      81.57            0.00         89
8       Clopidogrel 75 MG Oral Tablet      42.40            0.00         17
9       Verapamil Hydrochloride 40 MG     147.19            0.00         71

   TOTALCOST   REASONCODE                        REASONDESCRIPTION  \
0    1111.04          NaN                                     None
1     469.11  254837009.0  Malignant neoplasm of breast (disorder)
2    1644.18          NaN                                     None
3      88.33          NaN                                     None
4   11696.40          NaN                                     None
5    9496.50          NaN                                     None
6       4.74          NaN                                     None
7    7259.73          NaN                                     None
8     720.80          NaN                                     None
9   10450.49          NaN                                     None

         cancer_type
0        Lung_Cancer
1      Breast_Cancer
2  Colorectal_Cancer
3  Colorectal_Cancer
4      Breast_Cancer
5  Colorectal_Cancer
6        Lung_Cancer
7      Breast_Cancer
8      Breast_Cancer
9        Lung_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db'

observations                    DATE                               PATIENT  \
0  2020-07-12T03:37:22Z  a12c9bc5-e96e-9932-a5ac-d268af5d7b0b
1  2017-09-14T08:29:36Z  7c5bce0e-6550-94a2-3a64-ca6d6d979b01
2  2020-01-21T21:17:49Z  b606c586-bf55-3189-b964-7655e93a9f2f
3  2011-11-07T05:02:46Z  2c7d45f6-02e8-308d-e457-846d24d91369
4  2011-10-30T17:04:33Z  4beb1884-29ea-9c69-8f64-d276ab5bea93
5  2014-12-22T08:00:58Z  e2f4128f-618a-1518-7641-289832c5cd6e
6  2014-08-15T21:27:31Z  16a8d7e6-89b8-0d9d-8e06-e73aa31d9d7e
7  2015-05-08T14:08:29Z  895397e0-a6fb-8ccf-bbd3-b4c4403e0a37
8  2017-10-19T14:33:24Z  4c3aeb1e-e718-751a-1054-fd3e67b3e190
9  2010-08-25T21:26:14Z  82ff2e60-59b3-62eb-15b0-db975dea35af

                              ENCOUNTER   CODE  \
0                                  None   DALY
1                                  None   QALY
2                                  None   QOLS
3                                  None   QOLS
4                                  None   DALY
5  ad2d5334-bc5c-a895-ee7e-7e3feeb869bd  789-8
6                                  None   QOLS
7                                  None   DALY
8                                  None   QALY
9                                  None   QALY

                                         DESCRIPTION  VALUE    UNITS     TYPE  \
0                                               DALY    0.0        a  numeric
1                                               QALY   47.0        a  numeric
2                                               QOLS    1.0  {score}  numeric
3                                               QOLS    1.0  {score}  numeric
4                                               DALY    0.0        a  numeric
5  Erythrocytes [#/volume] in Blood by Automated ...    3.9  10*6/uL  numeric
6                                               QOLS    1.0  {score}  numeric
7                                               DALY    0.0        a  numeric
8                                               QALY   84.9        a  numeric
9                                               QALY   50.0        a  numeric

         cancer_type
0  Colorectal_Cancer
1  Colorectal_Cancer
2  Colorectal_Cancer
3        Lung_Cancer
4  Colorectal_Cancer
5  Colorectal_Cancer
6      Breast_Cancer
7        Lung_Cancer
8      Breast_Cancer
9        Lung_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA.db'

patients                                      Id   BIRTHDATE DEATHDATE          SSN  \
0  79729c8a-d374-8948-4e1b-6b92b624cbb9  2018-12-03      None  999-23-4834
1  31276348-3760-b648-c4dd-6f16de3b07bd  1993-03-18      None  999-78-1301
2  bac1aa40-93fa-ef02-6c1c-952014393d2e  1940-01-09      None  999-89-2938
3  1f5ed4b0-5aec-1338-bfdf-68c3c94c9210  1996-07-17      None  999-38-2065
4  7584890d-2b1e-ddd6-685f-81c1c39b483b  1961-03-24      None  999-37-9503
5  ce76c1e8-5af4-80bd-bde5-0328f3b3604e  1978-05-15      None  999-99-9016
6  3b63ea71-c31e-87f5-adba-442d1e658f60  1977-07-29      None  999-53-8869
7  f0621f3e-7a2c-cf4a-891f-2409d78f39a1  2020-06-15      None  999-63-3970
8  69d802a7-63ba-db06-d2d8-f5f1db5366f0  2001-01-21      None  999-91-1297
9  4e12feb7-8ded-eb90-127b-aec0184d5120  1994-07-10      None  999-91-2471

     DRIVERS    PASSPORT PREFIX        FIRST          LAST SUFFIX  ...  \
0       None        None   None    Marsha122    Schultz619   None  ...
1  S99971223  X61239247X    Mr.  Douglass930    Lebsack687   None  ...
2  S99981074  X22456439X   Mrs.    Odessa199     Cremin516   None  ...
3  S99941094  X28952237X    Mr.    Lowell343  Considine820   None  ...
4  S99967789  X61245740X    Mr.  Williams176    Carroll471   None  ...
5  S99994726  X27127554X    Mr.  Gilberto712     Heaney114   None  ...
6  S99926326  X13631183X    Mr.       Del587     Hamill307   None  ...
7       None        None   None    Maggie320      Braun514   None  ...
8  S99918209        None    Ms.  Lachelle614     Jacobi462   None  ...
9  S99940931  X86535388X    Ms.   Janetta325       Moen819   None  ...

                            ADDRESS         CITY          STATE  \
0                  1083 Ernser View    Dartmouth  Massachusetts
1                 750 Corkery Alley  Belchertown  Massachusetts
2      445 Reilly Overpass Suite 10   Somerville  Massachusetts
3        337 Koepp Station Suite 83    Leicester  Massachusetts
4  285 Williamson Extension Unit 39    Lexington  Massachusetts
5                214 Bernier Center     Brockton  Massachusetts
6                    484 Kozey Mall   Bellingham  Massachusetts
7           345 Crona View Suite 44       Boston  Massachusetts
8                    690 Boyle Fort    Wellesley  Massachusetts
9      414 Larkin Crossroad Unit 52     Stoneham  Massachusetts

             COUNTY     ZIP        LAT        LON HEALTHCARE_EXPENSES  \
0    Bristol County     NaN  41.539392 -70.987310            55000.00
1  Hampshire County     NaN  42.287298 -72.356170           669365.00
2  Middlesex County  2145.0  42.398434 -71.129965          1379810.00
3  Worcester County     NaN  42.215060 -71.876291           559860.00
4  Middlesex County     NaN  42.420106 -71.275908          1223714.98
5   Plymouth County  2302.0  42.079553 -71.036662          1026310.44
6    Norfolk County  2019.0  42.049921 -71.466438           895086.57
7    Suffolk County  2119.0  42.352638 -71.110909            14700.00
8    Norfolk County  2457.0  42.277505 -71.217197           409040.00
9  Middlesex County  2180.0  42.494874 -71.102258           700700.00

  HEALTHCARE_COVERAGE        cancer_type
0             1162.44      Breast_Cancer
1             2509.80  Colorectal_Cancer
2             4681.20        Lung_Cancer
3             2485.64        Lung_Cancer
4             3368.84  Colorectal_Cancer
5             2763.92        Lung_Cancer
6             2218.92        Lung_Cancer
7              516.64  Colorectal_Cancer
8             2576.48  Colorectal_Cancer
9             2774.80      Breast_Cancer

[10 rows x 26 columns]

### Die Daten werden aus den verschiedenen Tabellen extrahiert und ggf. transformiert
 >Die Daten aus **Patients** werden erstmal in die Faktentabelle übertragen. Es handelt sich um die Krebsart, die Patienten ID, die geographische Koordinaten, die Healthcarekosten, die vom Patient getragen werden und diejenigen, die von der Krankenversicherung bezahlt werden, und zum Ende das Geburtsdatum.
Damit die Faktentabelle keine Redundanzen aufweist, werden die Encounter ID nicht mehr einzeln gespeichert. Stattdessen werden in der Faktentabelle für jeden Patienten die gesamten Kosten gespeichert, die in jeder Kategorie (Encounters, Observations, Immunizations, Procedures umd Medications) verursacht wurden.  
Die Transaktion in der Faktentabelle der Datenbank wird mit commit beendet.

In [51]:
# TEST how many patients undergo Procedures
#cur.execute('''SELECT COUNT(*) from procedures GROUP BY procedures.PATIENT''')
#records = cur.fetchall()
#i=1
#for row in records:
#  print(f'patient', i, 'undergoes ', row,' procedures')
#  i=i+1

In [52]:
# Datenextraktion aus der Patientstabelle
cur.execute('''INSERT INTO facts_table
                    ( cancer_type, patient_ID, encounter_ID, patient_LAT, patient_LON, patient_HEALTHCARE_EXPENSES , patient_HEALTHCARE_COVERAGE, patient_BIRTHDATE)
                    SELECT
                        p.cancer_type AS cancer_type,
                        p.Id AS patient_ID,
                        NULL AS encounter_ID,  -- Replace with the actual encounter_ID or set to NULL if not applicable
                        p.LAT AS patient_LAT,
                        p.LON AS patient_LON,
                        p.HEALTHCARE_EXPENSES AS patient_HEALTHCARE_EXPENSES,
                        p.HEALTHCARE_COVERAGE AS patient_HEALTHCARE_COVERAGE,
                        p.BIRTHDATE AS patient_BIRTHDATE
                    FROM patients p
                    ;''')

# Ende der Transaktion
conn.commit()

# Schnelle Überprüfung der Datenübertragung ins die Faktentabelle
cur.execute('''SELECT patient_ID, patient_LON, patient_LAT, patient_HEALTHCARE_EXPENSES, patient_HEALTHCARE_COVERAGE, patient_BIRTHDATE FROM facts_table''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('d2061cc7-bee0-0e6c-3ac4-15c197c474e0', -71.11326024935221, 42.35992586937376, 1475230, 4244.639999999999, '1956-06-22')
('073d8e80-ff90-1c8d-57e4-29bfca52c87f', -72.02631680460482, 42.25784546955933, 1489125, 4016.36, '1964-08-28')
('e1ff7e68-4097-9faf-514d-e4cfcfdf252e', -71.8184488503781, 42.204289674137854, 57142.44, 2103.2, '1998-08-28')
('a0f679cc-875f-dd72-ed13-9ca863ec6cf3', -70.90408406035422, 42.15026973562508, 408520, 2709, '2004-01-20')
('e4166a9c-f7c5-bef7-ea43-b96281a2d586', -71.78487317237207, 42.2920819230455, 320400, 2970.68, '2006-03-23')
('ee537126-7509-05de-2349-ab19604545d8', -71.04135024287056, 42.347570821295285, 784465, 2738.96, '1991-05-21')
('826d5ce3-2b23-8bd8-b352-a77fdd083d68', -71.14747985490884, 42.52234296982323, 1425900, 3841.36, '1964-07-20')
('0edfef0f-fa74-ab35-1122-4c537bb9765d', -71.00357653769244, 42.00384862981888, 512475, 2470.64, '1997-05-05')
('0fe7e161-0f29-2b70-8e3d-757b15026295', -71.68411643063111, 42.58537262421069, 302400, 2583.2, '2008-12-26')
('478e120c-67a4-4375-646f-c41e74f72478', -71.19387487133108, 41.96958788099574, 1202145, 2892.24, '1971-01-02')

Die Daten werden aus **Observations** eintragen:
nur die Tuples mit dem neuesten Datum werden berücksichtigt. Gespeichert werden die Art der Observation (QALY, DALY oder QoLS), den neuesten Wert und das entsprechende Datum. Ausserdem wird das Alter am Tag der letzten Observation berechnet und eingetragen. Die Transaktion wird mit commit beendet. Das Speichern der neuen Einträge wird überprüft.

In [71]:
# Datenextraktion aus der Observationstabelle
cur.execute('''UPDATE
                  facts_table
               SET
                  observations_CODE = obs.CODE,
                  observations_VALUE = obs.maxVALUE,
                  observations_DATE = obs.maxDATE,
                  observations_AGE = obs.maxDATE- patient_BIRTHDATE
               FROM
                    (SELECT PATIENT, CODE, MAX(VALUE) as maxVALUE, MAX(observations.DATE) as maxDATE
                    FROM observations
                    GROUP BY PATIENT
                    ) AS obs
                WHERE
                  facts_table.patient_ID = obs.PATIENT
                    ;''')

# Ende der Transaktion
conn.commit()

# Schnelle Überprüfung der Datenübertragung ins die Faktentabelle
cur.execute('''SELECT patient_ID, observations_CODE, observations_VALUE, patient_BIRTHDATE, observations_DATE, observations_AGE  FROM facts_table''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('d2061cc7-bee0-0e6c-3ac4-15c197c474e0', 'QALY', 63, '1956-06-22', '2020-06-22T10:47:46Z', 64)
('073d8e80-ff90-1c8d-57e4-29bfca52c87f', 'QALY', 55, '1964-08-28', '2020-08-28T16:45:45Z', 56)
('e1ff7e68-4097-9faf-514d-e4cfcfdf252e', 'QALY', 21, '1998-08-28', '2020-08-28T07:43:32Z', 22)
('a0f679cc-875f-dd72-ed13-9ca863ec6cf3', 'QALY', 15, '2004-01-20', '2020-01-20T15:27:37Z', 16)
('e4166a9c-f7c5-bef7-ea43-b96281a2d586', 'QALY', 13, '2006-03-23', '2020-03-23T22:58:03Z', 14)
('ee537126-7509-05de-2349-ab19604545d8', 'QALY', 28, '1991-05-21', '2020-05-21T01:23:21Z', 29)
('826d5ce3-2b23-8bd8-b352-a77fdd083d68', 'QALY', 55, '1964-07-20', '2020-07-20T05:08:46Z', 56)
('0edfef0f-fa74-ab35-1122-4c537bb9765d', 'QALY', 22, '1997-05-05', '2020-05-04T22:31:18Z', 23)
('0fe7e161-0f29-2b70-8e3d-757b15026295', 'QALY', 10, '2008-12-26', '2019-12-26T13:49:03Z', 11)
('478e120c-67a4-4375-646f-c41e74f72478', 'QALY', 49, '1971-01-02', '2020-01-02T11:38:08Z', 49)

Die Daten werden aus **Encounters** eintragen. Es handelt sich um die Summe aller Encounter Kosten für jeden einzelnen Patienten.
Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen.
Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft.

In [72]:
# Datenextraktion aus der Encounterstabelle und Berechnung der Summe aller Encounterkosten für jeden Patienten
cur.execute('''UPDATE
                  facts_table
               SET
                  encounter_Base_Encounter_Cost = enc.TOTALCOST
               FROM
                    (SELECT PATIENT, SUM(BASE_ENCOUNTER_COST) as TOTALCOST
                    FROM encounters, facts_table
                    WHERE facts_table.patient_ID = encounters.PATIENT
                    GROUP BY PATIENT
                    ) AS enc
                WHERE
                  facts_table.patient_ID = enc.PATIENT
                    ;''')

# Ende der Transaktion
conn.commit()

# Falls es keine Encounterkosten gibt, wird der Wert 0 stattdessen eingetragen
cur.execute('''UPDATE
                  facts_table
               SET
                  encounter_Base_Encounter_Cost = 0
                WHERE encounter_Base_Encounter_Cost IS NULL
                    ;''')

# Ende der Transaktion
conn.commit()

# Kurze Überprüfung
cur.execute('''SELECT patient_ID, encounter_BASE_ENCOUNTER_COST FROM facts_table''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('d2061cc7-bee0-0e6c-3ac4-15c197c474e0', 1291.6000000000001)
('073d8e80-ff90-1c8d-57e4-29bfca52c87f', 1033.28)
('e1ff7e68-4097-9faf-514d-e4cfcfdf252e', 1033.28)
('a0f679cc-875f-dd72-ed13-9ca863ec6cf3', 1291.6000000000001)
('e4166a9c-f7c5-bef7-ea43-b96281a2d586', 1291.6000000000001)
('ee537126-7509-05de-2349-ab19604545d8', 387.48)
('826d5ce3-2b23-8bd8-b352-a77fdd083d68', 1033.28)
('0edfef0f-fa74-ab35-1122-4c537bb9765d', 904.1199999999999)
('0fe7e161-0f29-2b70-8e3d-757b15026295', 1420.7600000000002)
('478e120c-67a4-4375-646f-c41e74f72478', 645.8)

In [73]:
cur.execute('''SELECT patient_ID, encounter_BASE_ENCOUNTER_COST, SUM(BASE_ENCOUNTER_COST)
                FROM facts_table, encounters WHERE facts_table.patient_ID = encounters.PATIENT
                GROUP BY patient_ID''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('001c3804-81e8-740e-dd91-973b584a2dd9', 387.48, 387.48)
('002a707d-ba35-3d1a-46c0-ad8a98a22137', 774.9599999999999, 774.9599999999999)
('003c0d44-9dfc-ca91-6121-373a8e265bd4', 1446.5800000000002, 1446.5800000000002)
('008b26ab-5c12-7a5b-cda4-f54484d5f749', 1291.6000000000001, 1291.6000000000001)
('009121bf-a672-8942-443e-85e18a33f766', 1162.44, 1162.44)
('00e798f6-7d02-8485-c5fd-4b6bfb114c69', 516.64, 516.64)
('00edcb46-afd4-4687-c16a-f4e20dfc3e92', 1188.26, 1188.26)
('0103a559-910a-03df-6117-ec429eeb4ac9', 774.9599999999999, 774.9599999999999)
('01518fe2-bd76-d1e9-a656-1e7eae35dd17', 1446.5800000000002, 1446.5800000000002)
('01581211-2e47-027b-71a0-dcbf0f4e6622', 1317.42, 1317.42)

Die Daten werden aus **Medications** eintragen. Es handelt sich um die Summe aller MedikationsKosten für jeden einzelnen Patienten.
Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen.
Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft.

In [74]:
cur.execute('''     UPDATE facts_table SET medications_TotalCost = med.TOTALCOST
                    FROM
                    (SELECT PATIENT, SUM(Totalcost) as TOTALCOST
                    FROM medications, facts_table
                    WHERE facts_table.patient_ID = medications.PATIENT
                    GROUP BY PATIENT) as med
                    WHERE facts_table.patient_ID = med.PATIENT
                    ;''')
conn.commit()

In [75]:
cur.execute('''UPDATE
                  facts_table
               SET
                  medications_TOTALCOST = 0
                WHERE medications_TOTALCOST IS NULL
                    ;''')
conn.commit()

In [76]:
cur.execute('''SELECT patient_ID, medications_TOTALCOST, SUM(TOTALCOST)
                FROM facts_table, medications WHERE facts_table.patient_ID = medications.PATIENT
                GROUP BY patient_ID''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('003c0d44-9dfc-ca91-6121-373a8e265bd4', 30329.850000000002, 30329.85)
('01d6dc15-6313-5327-8491-49be72f40d59', 113865.26, 113865.26000000001)
('023c4bb2-6dc3-972e-379a-af19b8a2392d', 117956.49000000002, 117956.49)
('02db7f22-8617-0cf7-fa10-d820d596a81a', 101166.45000000001, 101166.45000000001)
('030287cd-dbd1-d7e1-6959-cfdfa0e271bd', 230.28, 230.28)
('037404e1-0c87-534d-0fe2-e21ef20640f6', 70052.88, 70052.88)
('038eb669-b744-c2bc-18c6-6e37068c722f', 49598.27, 49598.270000000004)
('05023597-744e-9369-c390-e4090447a247', 63036.16, 63036.16)
('05a3a33e-e9b1-0aaa-66f4-f0e2b57dce04', 3219.0699999999997, 3219.0699999999997)
('072229fb-e8b1-a9ff-61b1-0cdab70c3c4c', 6615.34, 6615.34)

Die Daten werden aus **Procedures** eintragen. Es handelt sich um die Summe aller Prozedurenkosten für jeden einzelnen Patienten. Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen. Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft

In [77]:
cur.execute('''     UPDATE facts_table SET procedures_BASE_COST = proc.TOTALCOST
                    FROM
                    (SELECT PATIENT, SUM(BASE_COST) as TOTALCOST
                    FROM procedures, facts_table
                    WHERE facts_table.patient_ID = procedures.PATIENT
                    GROUP BY PATIENT) as proc
                    WHERE facts_table.patient_ID = proc.PATIENT
                    ;''')
conn.commit()

In [78]:
cur.execute('''UPDATE
                  facts_table
               SET
                  procedures_BASE_COST = 0
                WHERE procedures_BASE_COST IS NULL
                    ;''')
conn.commit()

In [79]:
cur.execute('''SELECT patient_ID, procedures_Base_COST, SUM(Base_COST)
                FROM facts_table, procedures WHERE facts_table.patient_ID = procedures.PATIENT
                GROUP BY patient_ID''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('003c0d44-9dfc-ca91-6121-373a8e265bd4', 297586.43, 297586.43)
('00edcb46-afd4-4687-c16a-f4e20dfc3e92', 23882.18, 23882.18)
('01518fe2-bd76-d1e9-a656-1e7eae35dd17', 22514.35, 22514.35)
('01581211-2e47-027b-71a0-dcbf0f4e6622', 34044.95, 34044.95)
('01d6dc15-6313-5327-8491-49be72f40d59', 405522.31, 405522.31)
('023c4bb2-6dc3-972e-379a-af19b8a2392d', 56170.43, 56170.43)
('030287cd-dbd1-d7e1-6959-cfdfa0e271bd', 34779.04, 34779.04)
('037404e1-0c87-534d-0fe2-e21ef20640f6', 28800.590000000004, 28800.59)
('038eb669-b744-c2bc-18c6-6e37068c722f', 225341.52000000002, 225341.52)
('05398088-a847-099e-3c61-c6153d83e024', 35182.2, 35182.2)

Die Daten werden aus **Immunizations** eintragen. Es handelt sich um die Summe aller Immunizationskosten für jeden einzelnen Patienten. Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen. Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft

In [80]:
cur.execute('''     UPDATE facts_table SET immunizations_Base_Cost = im.TOTALCOST
                    FROM
                    (SELECT PATIENT, SUM(Base_Cost) as TOTALCOST
                    FROM immunizations, facts_table
                    WHERE facts_table.patient_ID = immunizations.PATIENT
                    GROUP BY PATIENT) as im
                    WHERE facts_table.patient_ID = im.PATIENT
                    ;''')
conn.commit()

In [81]:
cur.execute('''UPDATE
                  facts_table
               SET
                  immunizations_BASE_COST = 0
                WHERE immunizations_BASE_COST IS NULL
                    ;''')
conn.commit()

In [82]:
cur.execute(''' SELECT patient_ID, immunizations_BASE_COST, SUM(BASE_COST) FROM facts_table, immunizations
                WHERE facts_table.patient_ID = immunizations.PATIENT
                GROUP BY patient_ID''' )
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('001c3804-81e8-740e-dd91-973b584a2dd9', 562.08, 562.08)
('002a707d-ba35-3d1a-46c0-ad8a98a22137', 1264.68, 1264.68)
('003c0d44-9dfc-ca91-6121-373a8e265bd4', 1405.2, 1405.2)
('008b26ab-5c12-7a5b-cda4-f54484d5f749', 1545.72, 1545.72)
('009121bf-a672-8942-443e-85e18a33f766', 1545.72, 1545.72)
('00e798f6-7d02-8485-c5fd-4b6bfb114c69', 983.64, 983.64)
('00edcb46-afd4-4687-c16a-f4e20dfc3e92', 1545.72, 1545.72)
('0103a559-910a-03df-6117-ec429eeb4ac9', 1264.68, 1264.68)
('01518fe2-bd76-d1e9-a656-1e7eae35dd17', 1826.76, 1826.76)
('01581211-2e47-027b-71a0-dcbf0f4e6622', 1686.24, 1686.24)

> Werte in der Faktentabelle haben Komma statt Dot für die Dezimale. Konvertierung dieser.

In [83]:
cur.execute(''' UPDATE facts_table SET
patient_LAT = REPLACE(patient_LAT,',','.'),
patient_LON = REPLACE(patient_LON,',','.'),
patient_HEALTHCARE_EXPENSES = REPLACE(patient_HEALTHCARE_EXPENSES,',','.'),
patient_HEALTHCARE_COVERAGE = REPLACE(patient_HEALTHCARE_COVERAGE,',','.')
;''')
conn.commit()

##Das Datawarehouse ist fast fertig ausgefüllt.
Hier werden die ersten Tupeln der Faktentabelle angezeigt.
Der "None"-Eintrag entspricht der Spalte für Encounters. Diese Spalte wird nicht benutzt, deshalb wurde sie nicht ausgefüllt.

In [84]:
cur.execute('''SELECT * FROM facts_table
 WHERE cancer_type LIKE "Colorectal_Cancer"''')
records = cur.fetchall()
# show 4 rows
for row in records[:30]:
  print(row)

('Colorectal_Cancer', '3f4ba8c9-bd19-30d2-0ec0-a2ab7bb1d430', None, 42.2603774425129, -72.5823125762879, 901885, 2506.44, '1983-07-16', 'QALY', 36, '2020-07-16T05:11:47Z', 37, 0, 0, 702.6, 516.64)
('Colorectal_Cancer', 'eb84a420-13e9-c2d0-aea4-5df2cf4dd071', None, 42.2962784399499, -71.0526523952268, 809820, 2071.44, '1981-06-08', 'QALY', 38, '2020-06-07T22:20:01Z', 39, 0, 0, 562.08, 387.48)
('Colorectal_Cancer', '43acad72-4292-0518-0b48-f02689d6f992', None, 41.7537435459149, -71.0985160727873, 719640, 2022.28, '1985-11-01', 'QALY', 34, '2020-11-01T14:51:18Z', 35, 0, 0, 702.6, 516.64)
('Colorectal_Cancer', '865c69d6-0045-d269-94eb-3ab210bfe200', None, 42.4050898829232, -72.5542476530615, 18347.24, 327.48, '1968-04-17', 'QALY', 51, '2020-04-17T17:02:15Z', 52, 0, 0, 1264.68, 774.9599999999999)
('Colorectal_Cancer', '7c5bce0e-6550-94a2-3a64-ca6d6d979b01', None, 42.6564680575996, -71.1603673095522, 1111275, 2820.56, '1969-09-14', 'QALY', 50, '2020-09-14T08:29:36Z', 51, 0, 0, 1545.72, 774.9599999999999)
('Colorectal_Cancer', 'eb6a5b30-be96-b39d-1f95-40da74891494', None, 42.3574513398413, -71.111810723689, 1056015, 2634.76, '1977-01-31', 'QALY', 42, '2020-01-31T20:50:16Z', 43, 0, 0, 983.64, 516.64)
('Colorectal_Cancer', '6740a7b2-5192-c4b9-d46e-6d844fc3bdfb', None, 42.1601767456934, -71.5055830508226, 98810, 2573.12, '1988-08-12', 'QALY', 31, '2020-08-12T18:30:41Z', 32, 0, 0, 562.08, 387.48)
('Colorectal_Cancer', '4d964966-54cc-79d5-a0ea-8aa9a272ff7d', None, 42.5023118511694, -71.1309303749998, 25421.52, 294.96, '2000-08-05', 'QALY', 19, '2020-08-05T04:19:47Z', 20, 0, 0, 2107.8, 1162.44)
('Colorectal_Cancer', 'a4b62fb1-edbf-59cb-ed1c-97b263908812', None, 41.8967163712942, -71.1244122753284, 37750, 2712.36, '2008-06-16', 'QALY', 11, '2020-06-16T12:23:30Z', 12, 0, 0, 2810.4, 1420.7600000000002)
('Colorectal_Cancer', 'f0621f3e-7a2c-cf4a-891f-2409d78f39a1', None, 42.3526379617823, -71.1109093504589, 14700, 516.64, '2020-06-15', 'QALY', 1, '2020-06-15T04:50:59Z', 0, 0, 0, 1686.24, 516.64)
('Colorectal_Cancer', '2777c495-706c-7e23-cab8-dcd6133fec19', None, 42.649602422368, -73.0885594511278, 982440, 2651.44, '1982-01-30', 'QALY', 37, '2020-01-30T19:27:52Z', 38, 0, 0, 562.08, 387.48)
('Colorectal_Cancer', '9ac81cc6-4c04-29fe-6932-f2a02f733bdb', None, 42.7124319140338, -71.1887185243166, 294500, 2712.36, '2008-02-18', 'QALY', 11, '2020-02-18T11:24:32Z', 12, 0, 0, 2810.4, 1420.7600000000002)
('Colorectal_Cancer', 'c87a131b-37dd-822e-6c4c-07b32e77b995', None, 42.3132613549822, -71.0022755208212, 100549.09, 3305.57, '1961-10-13', 'QALY', 58, '2020-10-13T17:28:38Z', 59, 35905.93, 0, 1686.24, 1317.42)
('Colorectal_Cancer', '85a00613-33b4-6dea-7aa8-fb7b016db920', None, 42.3744089488039, -72.4846846509529, 815775, 2216.44, '1983-05-06', 'QALY', 36, '2020-05-06T16:50:48Z', 37, 0, 0, 702.6, 516.64)
('Colorectal_Cancer', '30bfac72-f43d-b2ce-c898-0652a79d0002', None, 42.1229048431739, -70.8894741570245, 1736225, 5274.6, '1950-01-25', 'QALY', 69, '2020-01-25T07:12:55Z', 70, 0, 0, 1826.76, 1291.6000000000001)
('Colorectal_Cancer', 'fa4e3f1c-1b29-1c9c-051d-466502970cdd', None, 42.3558103413989, -71.1578452189555, 1432320, 3876.34, '1964-04-06', 'QALY', 55, '2020-04-06T13:16:20Z', 56, 36658.33, 0, 1545.72, 1188.26)
('Colorectal_Cancer', '78310560-7c87-1508-c3b9-e375ac72f040', None, 42.4167427897444, -71.1414435759549, 222000, 2324.88, '2011-10-04', 'QALY', 8, '2020-10-04T14:45:34Z', 9, 0, 0, 5058.720000000003, 2324.88)
('Colorectal_Cancer', 'a33493a3-589a-efbf-9a69-7832fc05f129', None, 42.1899219554337, -72.5260637314357, 343200, 2712.36, '2008-01-12', 'QALY', 11, '2020-01-12T06:03:37Z', 12, 0, 0, 2950.92, 1420.7600000000002)
('Colorectal_Cancer', '0db5c91a-abab-528f-f45b-017d0898fccf', None, 42.5170369419887, -73.1814484094282, 50405.27, 1291.6, '1946-01-22', 'QALY', 72.9, '2020-01-22T13:06:00Z', 74, 21395.04, 6941.91, 1826.76, 1549.9200000000003)
('Colorectal_Cancer', '040c6422-398e-af96-f5f5-624f8bb4640d', None, 42.4051713611008, -71.589573418456, 237300, 2324.88, '2011-08-17', 'QALY', 8, '2020-08-17T05:56:53Z', 9, 0, 0, 5058.720000000003, 2324.88)
('Colorectal_Cancer', 'a3b86df6-c1a1-0778-9344-cd5bd128f4de', None, 42.1899218158984, -72.526418894513, 124200, 1808.24, '2015-03-27', 'QALY', 4, '2020-03-26T23:18:21Z', 5, 0, 0, 4496.640000000001, 1808.2400000000005)
('Colorectal_Cancer', '24458607-2c1e-6692-f644-c82f7348ff6c', None, 41.6837135586832, -70.1134995790073, 956194.57, 2479.76, '1979-02-25', 'QALY', 37.9, '2020-02-25T15:04:15Z', 41, 0, 0, 562.08, 516.64)
('Colorectal_Cancer', 'fcfc15ad-c4f7-ae12-6726-3c31d5431a7d', None, 42.2761514211128, -71.0601061364303, 4520.6, 0, '1979-08-07', 'QALY', 40, '2020-08-07T03:38:08Z', 41, 0, 0, 562.08, 387.48)
('Colorectal_Cancer', 'a402099b-f939-aa3e-691a-9f154f4305f5', None, 42.2148888774146, -72.5979461225599, 525840, 2776.48, '2000-03-19', 'QALY', 19, '2020-03-19T06:32:19Z', 20, 0, 0, 2107.8, 1162.44)
('Colorectal_Cancer', '9a71a96f-26df-05fd-9e0d-f265b2d42da4', None, 42.7439283720983, -71.1318917557139, 380560, 2669, '2004-05-10', 'QALY', 15, '2020-05-10T21:52:34Z', 16, 0, 0, 2248.32, 1291.6000000000001)
('Colorectal_Cancer', '86175b29-feed-c474-5a75-0bdc682a14fe', None, 42.3493175662456, -72.4966194918264, 67210, 2656.48, '1998-12-24', 'QALY', 20, '2019-12-24T18:28:47Z', 21, 0, 0, 1545.72, 1033.28)
('Colorectal_Cancer', '9e6b6241-c0a1-5ab3-d225-7233bb9ebbee', None, 42.4197267965755, -71.0368576478158, 157500, 1937.4, '2014-10-14', 'QALY', 5, '2020-10-14T11:57:14Z', 6, 0, 0, 4637.160000000002, 1937.4000000000005)
('Colorectal_Cancer', '530d950d-71f5-05d9-de46-0742db31191c', None, 42.5434679037031, -71.1703103572486, 1409300, 4113.76, '1955-05-05', 'QALY', 64, '2020-05-05T20:08:55Z', 65, 24508.17, 5108, 1686.24, 1446.5800000000002)
('Colorectal_Cancer', 'f8a4da19-1c10-fb70-50be-80c134c41805', None, 42.3921917957703, -71.0249147121615, 1478460, 4039.68, '1962-06-05', 'QALY', 57, '2020-06-05T08:21:14Z', 58, 0, 0, 1686.24, 1162.44)
('Colorectal_Cancer', 'bd2e82a0-6953-46fc-4e61-8d4066ee089a', None, 41.685348470116, -71.1179147315143, 30028.08, 354.96, '1965-12-06', 'QALY', 53, '2019-12-06T10:07:01Z', 54, 0, 0, 1405.2, 904.1199999999999)

In [85]:
print(pd.read_sql_query("PRAGMA table_info('facts_table')", conn))

    cid                           name           type  notnull dflt_value  pk
0     0                    cancer_type         STRING        0       None   0
1     1                     patient_ID         STRING        0       None   0
2     2                   encounter_ID         STRING        0       None   0
3     3                    patient_LAT   DECIMAL(6,2)        0       None   0
4     4                    patient_LON   DECIMAL(6,2)        0       None   0
5     5    patient_HEALTHCARE_EXPENSES   DECIMAL(9,2)        0       None   0
6     6    patient_HEALTHCARE_COVERAGE   DECIMAL(9,2)        0       None   0
7     7              patient_BIRTHDATE           DATE        0       None   0
8     8              observations_CODE         STRING        0       None   0
9     9             observations_VALUE         STRING        0       None   0
10   10              observations_DATE           DATE        0       None   0
11   11               observations_AGE   DECIMAL(6,2)        0       None   0
12   12           procedures_BASE_COST  DECIMAL(11,2)        0       None   0
13   13          medications_TOTALCOST  DECIMAL(11,2)        0       None   0
14   14        immunizations_BASE_COST  DECIMAL(11,2)        0       None   0
15   15  encounter_BASE_ENCOUNTER_COST  DECIMAL(11,2)        0       None   0