<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2024TeamC/blob/main/Code/ETL2Datawarehouse_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kursarbeit Datenmanagement und -Archivierung WS 23/24**

Master-Code Name-CALICO:MA

**Erstellung der Datenbank**


*   Datenbankinitialisierung:

> Laden Libraries

In [113]:
import os
import pandas as pd
from functools import reduce
import sqlite3
from sqlite3 import Error
import csv
#import requests

>Google drive verbinden

In [114]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)
!ls drive/

Mounted at /content/drive
MyDrive  Shareddrives

>connect to repo

In [115]:
# Pfad zum Ordner
ordner_pfad = "/pfad/zum/ordner"
unterordner_name = "mein_unterordner"

# Vollständiger Pfad zum Unterordner
unterordner_pfad = os.path.join(ordner_pfad, unterordner_name)

# Überprüfen, ob der Unterordner existiert
if not os.path.exists(unterordner_pfad):
    # Wenn der Unterordner nicht existiert, erstellen Sie ihn
    os.makedirs(unterordner_pfad)
    print(f"Unterordner '{unterordner_name}' wurde erstellt.")
else:
    print(f"Unterordner '{unterordner_name}' existiert bereits.")

Unterordner 'mein_unterordner' existiert bereits.

In [116]:
#definieren des Ordners in dem die repo gesichert werdern soll
google_drive_folder = "drive/MyDrive"
repo_colab_name = "calico_ma_repo"
#full_path_repo_colab = f"{google_drive_folder}+"//"+{repo_colab_name}"
full_path_repo_colab = os.path.join(google_drive_folder,repo_colab_name)
if not os.path.exists(full_path_repo_colab):
    os.makedirs(full_path_repo_colab)
    print(f"Ordner {full_path_repo_colab} ajngelegt")
else:
    print(f"Ordner {full_path_repo_colab} existiert bereits")

Ordner drive/MyDrive/calico_ma_repo existiert bereits

In [117]:
! apt-get install git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.10).
0 upgraded, 0 newly installed, 0 to remove and 33 not upgraded.

In [118]:
!git clone https://github.com/Fuenfgeld/DMA2024TeamC.git $full_path_repo_colab

fatal: destination path 'drive/MyDrive/calico_ma_repo' already exists and is not an empty directory.

In [119]:
!ls $full_path_repo_colab

Code  Data  Documentation  LICENSE  README.md

>Definition der Umgebnungsvariablen

>Verbindung zu CSV-Dateien herstellen und Kategorisierung nach der Tumorerkrankung
**AMENDMENT FOR ML: project_name = "CALICO_MA_ML"**

In [120]:
#repo_home = "/home/gunnar/DMA2024TeamC/" ## muss entsprechend angepasst werden für das lokale repo verzeichnis
repo_home = full_path_repo_colab+"/" ## repo in google drive
csv_data_folder = repo_home + "Data/Quelldaten/CSV_Data/"
project_name = "CALICO_MA_ML"
print(repo_home)
print (csv_data_folder)

drive/MyDrive/calico_ma_repo/
drive/MyDrive/calico_ma_repo/Data/Quelldaten/CSV_Data/



> Verbindung zu SQLite herstellen und Datebankinitialisierung Local

>The provided code is a Python script that establishes a connection to a SQLite database and creates a cursor object for executing SQL commands.
>The `create_connection_local` function is defined to establish a connection to a SQLite database. The function takes one parameter, `local_path`, which is the path to the database file. Inside the function, a `try` block is used to attempt to establish the connection. The `sqlite3.connect` function is called with the path to the database file, which is constructed by concatenating `local_path`, the string 'Data/CALICO_MA_Database/', and the global variable `project_name` with '.db' extension. If the connection is established successfully, the connection object is returned. However, the `print(sqlite3.version)` statement after the `return` statement will never be executed because the function exits as soon as it hits the `return` statement. If there is an error while establishing the connection, it is caught by the `except` block, and a message is printed to the console.
>After the `create_connection_local` function is defined, it is called with `repo_home` as the argument, and the returned connection object is stored in the `conn` variable.
>Next, a cursor object is created by calling the `cursor` method on the connection object. This cursor object, stored in the `cur` variable, can be used to execute SQL commands.
>Finally, a success message is printed to the console, indicating that the connection to the SQLite database was established successfully. The message includes the path to the database file.

In [121]:
def create_connection_local(local_path):
  conn = None;
  try:
    #Establishing the connection
    conn = sqlite3.connect(local_path+'Data/CALICO_MA_Database/'+project_name+'.db')
    return conn
    print(sqlite3.version)
  except Error as e:
    print("Error while connecting to sqlite", e)
conn = create_connection_local(repo_home)
# Creating a cursor object using the cursor() method
cur = conn.cursor()
print("Successfully Connected to SQLite Public Data Warehouse: "+repo_home+'Data/CALICO_MA_Database/'+project_name+'.db')

Successfully Connected to SQLite Public Data Warehouse: drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db

> Quelldatenimport

This Python script is used to read multiple CSV files from different directories, create pandas DataFrames from them, and then concatenate these DataFrames based on their types.

Here's a step-by-step explanation:

1. Two lists are defined: `csvs` and `tumortypes`. `csvs` contains the names of different types of CSV files, and `tumortypes` contains the names of different types of tumors.

2. An empty dictionary `df` is created to store the DataFrames.

3. The script then enters a nested loop where it iterates over each tumor type and each CSV type. For each combination, it constructs a key (e.g., "procedures_Breast_Cancer") and a file path.

4. It reads the CSV file at the constructed path into a DataFrame, adds a new column `cancer_type` to the DataFrame, and stores the DataFrame in the `df` dictionary with the constructed key.

5. The DataFrame is also appended to a list in the `csv_dfs` dictionary corresponding to its CSV type.

6. After all CSV files have been read and their DataFrames stored, the script concatenates the DataFrames in each list in the `csv_dfs` dictionary. The result is a dictionary where each key is a CSV type and each value is a DataFrame that is the concatenation of all DataFrames of that CSV type.

7. Finally, the script prints the first few rows of each DataFrame in the `df` and `csv_dfs` dictionaries.

The commented-out code at the end of the script shows how individual CSV files were previously read into DataFrames. This code has been replaced by the loop that reads and concatenates all CSV files.

In [122]:
# Generate dataframes and add cancer_type information as a new column

csvs = ["procedures", "encounters", "immunizations", "medications", "observations", "patients"]

tumortypes = ["Breast_Cancer", "Lung_Cancer", "Colorectal_Cancer"]

df = {}
csv_dfs = {csv: [] for csv in csvs}

for tumor in tumortypes:
    for csv in csvs:
        key = f"{csv}_{tumor}"
        path = f"{csv_data_folder}{tumor}/{csv}.csv"
        df[key] = pd.read_csv(path, sep=",")
        df[key] = df[key].assign(cancer_type=tumor)

        # Add the dataframe to the list for this csv
        csv_dfs[csv].append(df[key])

# Check the sum of the number of rows in the original dataframes for each csv
for csv in csvs:
    total_rows = sum(len(df[csv + '_' + tumor]) for tumor in tumortypes)
    print(f"Total number of rows in original dataframes for {csv}: {total_rows}")
    print("\n")
# Concatenate the dataframes for each csv
for csv in csvs:
    csv_dfs[csv] = pd.concat(csv_dfs[csv])

# Check the number of rows and unique cancer types in each concatenated dataframe
for csv, df in csv_dfs.items():
    print(f"Concatenated DataFrame for {csv}:")
    print(f"Number of rows: {len(df)}")
    print(f"Unique cancer types: {df['cancer_type'].unique()}")
    print("\n")

Total number of rows in original dataframes for procedures: 2140


Total number of rows in original dataframes for encounters: 25836


Total number of rows in original dataframes for immunizations: 37878


Total number of rows in original dataframes for medications: 1258


Total number of rows in original dataframes for observations: 95849


Total number of rows in original dataframes for patients: 3084


Concatenated DataFrame for procedures:
Number of rows: 2140
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for encounters:
Number of rows: 25836
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for immunizations:
Number of rows: 37878
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for medications:
Number of rows: 1258
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for observations:
Number of rows: 95849
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']


Concatenated DataFrame for patients:
Number of rows: 3084
Unique cancer types: ['Breast_Cancer' 'Lung_Cancer' 'Colorectal_Cancer']

>Quality checks of the dataframes

In [123]:
# .nunique(axis=0) returns the number of unique values for each columns in the concanated dataframes.
for csv, df in csv_dfs.items():
    print(f"Quality for concatenated DataFrame {csv}:\n{df.nunique(axis=0)}")
    print("\n")

Quality for concatenated DataFrame procedures:
DATE                 1804
PATIENT               449
ENCOUNTER            1593
CODE                   37
DESCRIPTION            37
BASE_COST            2044
REASONCODE             11
REASONDESCRIPTION      11
cancer_type             3
dtype: int64


Quality for concatenated DataFrame encounters:
Id                     25836
START                  25521
STOP                   25720
PATIENT                 3084
ORGANIZATION            2268
PROVIDER                2806
PAYER                     10
ENCOUNTERCLASS             5
CODE                      15
DESCRIPTION               18
BASE_ENCOUNTER_COST        2
TOTAL_CLAIM_COST           2
PAYER_COVERAGE            15
REASONCODE                11
REASONDESCRIPTION         11
cancer_type                3
dtype: int64


Quality for concatenated DataFrame immunizations:
DATE           23245
PATIENT         3084
ENCOUNTER      23349
CODE              18
DESCRIPTION       18
BASE_COST          1
cancer_type        3
dtype: int64


Quality for concatenated DataFrame medications:
START                 594
STOP                  222
PATIENT               314
PAYER                  10
ENCOUNTER             595
CODE                   24
DESCRIPTION            24
BASE_COST            1199
PAYER_COVERAGE        123
DISPENSES             238
TOTALCOST            1241
REASONCODE              4
REASONDESCRIPTION       4
cancer_type             3
dtype: int64


Quality for concatenated DataFrame observations:
DATE           31296
PATIENT         3084
ENCOUNTER        289
CODE              53
DESCRIPTION       55
VALUE           1268
UNITS             18
TYPE               2
cancer_type        3
dtype: int64


Quality for concatenated DataFrame patients:
Id                     3084
BIRTHDATE              2860
DEATHDATE                84
SSN                    3078
DRIVERS                2503
PASSPORT               2377
PREFIX                    3
FIRST                  2055
LAST                    660
SUFFIX                    3
MAIDEN                  423
MARITAL                   2
RACE                      5
ETHNICITY                 2
GENDER                    2
BIRTHPLACE              369
ADDRESS                3084
CITY                    295
STATE                     1
COUNTY                   14
ZIP                     272
LAT                    3084
LON                    3084
HEALTHCARE_EXPENSES    2624
HEALTHCARE_COVERAGE     948
cancer_type               3
dtype: int64

In [124]:
#percentage of not null values in each column in the concanated dataframes.
for csv, df in csv_dfs.items():
    print(f"percentage of not null values in each column of concatenated DataFrame {csv}:\n{df.count()/len(df) * 100}")
    print("\n")

percentage of not null values in each column of concatenated DataFrame procedures:
DATE                 100.000000
PATIENT              100.000000
ENCOUNTER            100.000000
CODE                 100.000000
DESCRIPTION          100.000000
BASE_COST            100.000000
REASONCODE            74.439252
REASONDESCRIPTION     74.439252
cancer_type          100.000000
dtype: float64


percentage of not null values in each column of concatenated DataFrame encounters:
Id                     100.0000
START                  100.0000
STOP                   100.0000
PATIENT                100.0000
ORGANIZATION           100.0000
PROVIDER               100.0000
PAYER                  100.0000
ENCOUNTERCLASS         100.0000
CODE                   100.0000
DESCRIPTION            100.0000
BASE_ENCOUNTER_COST    100.0000
TOTAL_CLAIM_COST       100.0000
PAYER_COVERAGE         100.0000
REASONCODE               2.2488
REASONDESCRIPTION        2.2488
cancer_type            100.0000
dtype: float64


percentage of not null values in each column of concatenated DataFrame immunizations:
DATE           100.0
PATIENT        100.0
ENCOUNTER      100.0
CODE           100.0
DESCRIPTION    100.0
BASE_COST      100.0
cancer_type    100.0
dtype: float64


percentage of not null values in each column of concatenated DataFrame medications:
START                100.000000
STOP                  39.666137
PATIENT              100.000000
PAYER                100.000000
ENCOUNTER            100.000000
CODE                 100.000000
DESCRIPTION          100.000000
BASE_COST            100.000000
PAYER_COVERAGE       100.000000
DISPENSES            100.000000
TOTALCOST            100.000000
REASONCODE             6.915739
REASONDESCRIPTION      6.915739
cancer_type          100.000000
dtype: float64


percentage of not null values in each column of concatenated DataFrame observations:
DATE           100.000000
PATIENT        100.000000
ENCOUNTER        2.296320
CODE           100.000000
DESCRIPTION    100.000000
VALUE          100.000000
UNITS           99.837244
TYPE           100.000000
cancer_type    100.000000
dtype: float64


percentage of not null values in each column of concatenated DataFrame patients:
Id                     100.000000
BIRTHDATE              100.000000
DEATHDATE                2.723735
SSN                    100.000000
DRIVERS                 82.328145
PASSPORT                77.075227
PREFIX                  79.863813
FIRST                  100.000000
LAST                   100.000000
SUFFIX                   1.037613
MAIDEN                  26.426719
MARITAL                 66.147860
RACE                   100.000000
ETHNICITY              100.000000
GENDER                 100.000000
BIRTHPLACE             100.000000
ADDRESS                100.000000
CITY                   100.000000
STATE                  100.000000
COUNTY                 100.000000
ZIP                     53.988327
LAT                    100.000000
LON                    100.000000
HEALTHCARE_EXPENSES    100.000000
HEALTHCARE_COVERAGE    100.000000
cancer_type            100.000000
dtype: float64

In [125]:
#Delete Tables in case they exist
cur.execute("DROP TABLE IF EXISTS procedures")
cur.execute("DROP TABLE IF EXISTS encounters")
cur.execute("DROP TABLE IF EXISTS immunizations")
cur.execute("DROP TABLE IF EXISTS medications")
cur.execute("DROP TABLE IF EXISTS observations")
cur.execute("DROP TABLE IF EXISTS patients")
cur.execute("DROP TABLE IF EXISTS facts_table")

>Create tables including facts_table
**AMENDMENTS FOR ML: COUNTY as STRING, ZIP as STRING**

In [126]:
# Create tables including facts_table

sql_table = {}

create_table_command = """CREATE TABLE IF NOT EXISTS patients (
                           Id         STRING PRIMARY KEY,
                           BIRTHDATE  DATE,
                           DEATHDATE  DATE,
                           SSN        STRING,
                           DRIVERS    STRING,
                           PASSPORT   STRING,
                           PREFIX     STRING,
                           FIRST      STRING,
                           LAST       STRING,
                           SUFFIX     STRING,
                           MAIDEN     STRING,
                           MARITAL    STRING,
                           RACE       STRING,
                           ETHNICITY  STRING,
                           GENDER     STRING,
                           BIRTHPLACE STRING,
                           ADDRESS    STRING,
                           CITY       STRING,
                           STATE      STRING,
                           COUNTY     STRING,
                           ZIP        STRING,
                           LAT        DECIMAL(6,2),
                           LON        DECIMAL(6,2),
                           HEALTHCARE_EXPENSES DECIMAL(9,2),
                           HEALTHCARE_COVERAGE DECIMAL(9,2),
                           cancer_type STRING
  );

CREATE TABLE IF NOT EXISTS encounters (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ORGANIZATION STRING,
                           PROVIDER STRING,
                           PAYER STRING,
                           ENCOUNTERCLASS STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_ENCOUNTER_COST DECIMAL(9,2),
                           TOTAL_CLAIM_COST DECIMAL(9,2),
                           PAYER_COVERAGE DECIMAL(9,2),
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id)
);



CREATE TABLE IF NOT EXISTS observations (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           VALUE STRING,
                           UNITS STRING,
                           TYPE STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT) REFERENCES patients (Id),
                           FOREIGN KEY (Encounter) REFERENCES encounters (Id)
);


CREATE TABLE IF NOT EXISTS medications (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           PAYER STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST DECIMAL(9,2),
                           PAYER_COVERAGE DECIMAL(9,2),
                           DISPENSES DECIMAL(9,2),
                           TOTALCOST DECIMAL(9,2),
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id)
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id)
  );

CREATE TABLE IF NOT EXISTS procedures (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST DECIMAL(9,2),
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT) REFERENCES patients (Id),
                           FOREIGN KEY (Encounter) REFERENCES encounters (Id)
                       );

CREATE TABLE IF NOT EXISTS immunizations (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST DECIMAL(9,2),
                           cancer_type STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id)
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id)
  );

CREATE TABLE IF NOT EXISTS facts_table (
                          cancer_type STRING,
                          patient_ID STRING,
                          encounter_ID STRING,
                          patient_LAT        DECIMAL(6,2),
                          patient_LON        DECIMAL(6,2),
                          patient_COUNTY     STRING,
                          patient_ZIP        STRING,
                          patient_HEALTHCARE_EXPENSES DECIMAL(9,2),
                          patient_HEALTHCARE_COVERAGE DECIMAL(9,2),
                          patient_BIRTHDATE DATE,
                          observations_CODE STRING,
                          observations_VALUE STRING,
                          observations_DATE  DATE,
                          observations_AGE DECIMAL(6,2),
                          procedures_BASE_COST DECIMAL(11,2),
                          medications_TOTALCOST DECIMAL(11,2),
                          immunizations_BASE_COST DECIMAL(11,2),
                          encounter_BASE_ENCOUNTER_COST DECIMAL(11,2),
                          FOREIGN KEY (patient_ID) REFERENCES patients (Id),
                          FOREIGN KEY (patient_ID) REFERENCES observations (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES observations (ENCOUNTER),
                          FOREIGN KEY (patient_ID) REFERENCES encounters (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES encounters (Id),
                          FOREIGN KEY (patient_ID) REFERENCES procedures (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES procedures (ENCOUNTER),
                          FOREIGN KEY (patient_ID) REFERENCES medications (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES medications (ENCOUNTER),
                          FOREIGN KEY (patient_ID) REFERENCES immunizations (PATIENT),
                          FOREIGN KEY (encounter_ID) REFERENCES immunizations (ENCOUNTER)

);
"""
# Execute the SQL command
cur.executescript(create_table_command)

conn.commit()

In [127]:
#Insert data from the concanated data frames into the tables

for csv, df in csv_dfs.items():
    df.to_sql(csv, conn, if_exists='append', index=False)

conn.commit()

In [128]:
#Check if data is in the tables. 10 random rows are selected from each table

for csv in csvs:
    cur.execute(f"SELECT * FROM {csv} ORDER BY RANDOM() LIMIT 10")
    rows = cur.fetchall()
    df_random = pd.DataFrame(rows, columns=[desc[0] for desc in cur.description])
    print(f"SQL tables from {repo_home}Data/CALICO_MA_Database/{project_name}.db' \n\n{csv} {df_random} ")

SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db'

procedures                    DATE                               PATIENT  \
0  2012-02-25T10:12:31Z  e0819e1b-ea7c-1918-6a7a-84dc6a4056d5
1  2005-10-12T11:18:01Z  09cefca5-6f18-be2a-121e-6f62d2cc8df6
2  2013-11-15T13:27:49Z  d9bb031b-ddd4-a8e4-4114-ff796da7b937
3  2013-09-02T12:19:57Z  58345179-2358-e92d-045d-874129cf3763
4  2016-10-13T06:38:25Z  93aa9006-970e-1dfc-8719-2fe918d6f270
5  2014-09-01T08:00:58Z  e2f4128f-618a-1518-7641-289832c5cd6e
6  2016-06-02T16:28:59Z  68a0c89e-48a3-93b7-06c2-72f2a70ff380
7  2016-02-01T16:20:48Z  97d417ae-0897-260b-0c8b-66ac074228c1
8  2011-11-03T17:24:44Z  0af84bc9-acf2-684f-c04e-d9d1dac08f97
9  2014-06-14T14:08:09Z  08cb85d1-8298-1135-45ae-c90df3160ead

                              ENCOUNTER       CODE  \
0  e8daf9a6-452e-1776-242b-919f7179e7ca   73761001
1  13e6d643-cc69-0234-93a8-40ea00700a61   40701008
2  747e09a1-a3c1-6db5-92d2-ed1846847f22   18286008
3  6b0cd608-fe54-a1d1-c742-fe24a4c2f2f7   40701008
4  e650a9f0-925d-3ca2-b3bc-637938630f7c  703423002
5  f99420be-c639-c470-f6ab-ea628c165426   43075005
6  fff1ff62-1d9c-605a-8410-d767650e1214   73761001
7  13e25faf-1e30-cf9c-2f76-dcca0be47255   40701008
8  cc0157fa-add0-d691-5a6a-bdd56f5fcc06   73761001
9  f5305689-3baf-0190-4942-1d5b87c013b2   40701008

                                         DESCRIPTION  BASE_COST   REASONCODE  \
0                                        Colonoscopy   21856.08          NaN
1                       Echocardiography (procedure)    1614.73  230690007.0
2               Catheter ablation of tissue of heart   11847.76  410429000.0
3                       Echocardiography (procedure)    1336.33  410429000.0
4  Combined chemotherapy and radiation therapy (p...   11605.19  363406005.0
5                         Partial resection of colon   39586.31  109838007.0
6                                        Colonoscopy   13553.90          NaN
7                       Echocardiography (procedure)     946.15  230690007.0
8                                        Colonoscopy    7597.16          NaN
9                       Echocardiography (procedure)    1152.29  410429000.0

                         REASONDESCRIPTION        cancer_type
0                                     None  Colorectal_Cancer
1                                   Stroke        Lung_Cancer
2                           Cardiac Arrest  Colorectal_Cancer
3                           Cardiac Arrest      Breast_Cancer
4                 Malignant tumor of colon  Colorectal_Cancer
5  Overlapping malignant neoplasm of colon  Colorectal_Cancer
6                                     None  Colorectal_Cancer
7                                   Stroke  Colorectal_Cancer
8                                     None  Colorectal_Cancer
9                           Cardiac Arrest        Lung_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db'

encounters                                      Id                 START  \
0  b90f4542-c957-1c87-fe7d-f96564f3a4ec  2013-05-11T09:08:36Z
1  fb030501-369f-51b9-e40a-1749ebf0556a  2019-01-03T13:08:55Z
2  68956f3a-33fe-07bc-8f03-337d14a1a85d  2009-10-31T19:20:12Z
3  6c7f2f50-b632-7b20-f494-53819f86c608  2014-08-18T02:39:03Z
4  7b15291b-a511-1c8e-e922-9d9d60bcb77e  2019-11-29T04:49:35Z
5  201a62aa-02d2-af78-f005-eaf5297ff239  2020-07-29T23:25:58Z
6  895671c8-7ec1-e0c4-10bc-eaed376efc7c  2013-08-27T17:32:45Z
7  dfce5d8c-b308-b274-6525-178a09be2acf  2018-04-28T01:41:55Z
8  93a41cb8-25de-b5f7-e327-86445fcabd24  2019-07-19T08:38:34Z
9  6d5e18f9-2fd1-b867-87c1-6868f09fdd77  2018-03-16T00:26:59Z

                   STOP                               PATIENT  \
0  2013-05-11T09:23:36Z  2864e2f7-620f-b3a4-b2b5-73a3285f5ab8
1  2019-01-03T13:23:55Z  bb376ea0-838b-d239-2d91-34273927b271
2  2009-10-31T19:35:12Z  cd5280ba-3b1f-138a-9095-6c14d28dad53
3  2014-08-18T02:54:03Z  c0e562c3-4684-8382-c500-a4f62cde300d
4  2019-11-29T05:04:35Z  16a39528-75cb-e6e6-2e82-4638bec2f34d
5  2020-07-29T23:40:58Z  ed0b3ef2-0183-dec0-857e-be4d9abd4f28
6  2013-08-27T17:47:45Z  a074323e-861d-5d3e-fa07-db5579ce1270
7  2018-04-28T01:56:55Z  2b7ba549-a22d-daf9-c31b-08ceec3640d9
8  2019-07-19T08:53:34Z  6a9bb834-e50b-8e3e-d84a-7584f09dea3c
9  2018-03-16T00:41:59Z  d2d8822f-6e67-86f9-056f-2fb2b6fc1a12

                           ORGANIZATION                              PROVIDER  \
0  cd2adec5-2598-3c48-88b5-75860fcdd58b  e97fa3c8-89d8-398d-a588-0e1ba3501442
1  b8ddc33c-68b3-3ca8-bd6c-b01654c228bd  5b72c53a-4a9f-3b9c-a828-3e11c3671bc9
2  c7bb6571-b70a-3b7b-8884-af90e8c548cc  8a57273e-5a9d-3ded-87b6-c6878a02a69f
3  9c63ad13-cd5d-3ef0-a476-9f482c980b5f  fc0b68c9-76f9-31ce-a9d6-cdd1997f5bd7
4  1c9f06a8-38bb-3d07-99b2-176d626bc4c2  29b9f39d-cf5b-33f1-8cc0-ae7bca5d9026
5  870c851a-1a2f-3a4d-b01a-6572b6f4f042  12faaa2e-01e2-3d77-bb3c-f91c57ca5fa4
6  e46b96a5-54e4-34ab-89d1-54645eb2ce6e  e71a2f81-870e-3a1a-b060-a5e6480c773d
7  2d8989f4-642f-31b3-84b0-56643ae70b2d  d78bd2d1-8c87-3946-96ef-68d6d8601757
8  1f1f6e6b-1ca7-3d0a-8bad-2c9fb1bcc4ee  2c6aa770-3c91-3602-b396-eb6e77d60882
9  4280a520-966f-3a69-8f11-b1cd1079f1a9  6c97544b-c9d9-386e-8026-bd4500fc3674

                                  PAYER ENCOUNTERCLASS       CODE  \
0  42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a       wellness  410620009
1  6e2f1a2d-27bd-3701-8d08-dae202c58632       wellness  162673000
2  047f6ec3-6215-35eb-9608-f9dda363a44c       wellness  308646001
3  42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a       wellness  410620009
4  7caa7254-5050-3b5e-9eae-bd5ea30e809c       wellness  162673000
5  7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a       wellness  410620009
6  7caa7254-5050-3b5e-9eae-bd5ea30e809c       wellness  162673000
7  4d71f845-a6a9-3c39-b242-14d25ef86a8d       wellness  162673000
8  6e2f1a2d-27bd-3701-8d08-dae202c58632       wellness  162673000
9  42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a       wellness  410620009

                                  DESCRIPTION  BASE_ENCOUNTER_COST  \
0                Well child visit (procedure)               129.16
1  General examination of patient (procedure)               129.16
2                         Death Certification               129.16
3                Well child visit (procedure)               129.16
4  General examination of patient (procedure)               129.16
5                Well child visit (procedure)               129.16
6  General examination of patient (procedure)               129.16
7  General examination of patient (procedure)               129.16
8  General examination of patient (procedure)               129.16
9                Well child visit (procedure)               129.16

   TOTAL_CLAIM_COST  PAYER_COVERAGE  REASONCODE      REASONDESCRIPTION  \
0            129.16          129.16         NaN                   None
1            129.16          129.16         NaN                   None
2            129.16            0.00  22298006.0  Myocardial Infarction
3            129.16          129.16         NaN                   None
4            129.16          129.16         NaN                   None
5            129.16          129.16         NaN                   None
6            129.16          129.16         NaN                   None
7            129.16          129.16         NaN                   None
8            129.16          129.16         NaN                   None
9            129.16          129.16         NaN                   None

         cancer_type
0        Lung_Cancer
1  Colorectal_Cancer
2  Colorectal_Cancer
3      Breast_Cancer
4      Breast_Cancer
5  Colorectal_Cancer
6  Colorectal_Cancer
7      Breast_Cancer
8  Colorectal_Cancer
9      Breast_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db'

immunizations                    DATE                               PATIENT  \
0  2017-11-05T23:03:35Z  e7deb6c0-ff45-4c41-eff9-92cb20d16716
1  2017-05-15T18:59:12Z  ff67da77-8b6a-bf5e-9001-eeb258c47e86
2  2020-05-21T01:57:20Z  d3ff0080-286f-7790-c29d-192178b43d72
3  2019-09-25T01:59:22Z  d532a97c-ab75-dc27-c8c9-8f75a126c6a1
4  2011-09-23T12:31:32Z  50f6542e-ab90-0462-196b-70b361c7837e
5  2016-03-23T20:30:53Z  9815cc95-5df6-f3f3-2e72-77732a35190d
6  2018-02-14T22:20:27Z  d3bcfd25-2247-ff7f-41c1-89e625a7c8f5
7  2018-09-24T19:35:53Z  1c652a0f-4085-3e25-8816-d8b95fefab46
8  2013-12-03T20:25:50Z  08c4db6f-bfb1-a1e6-c80a-53ef91f149ed
9  2020-07-21T06:47:11Z  c2bd5fd2-b082-cad8-7ed8-38f980537b3f

                              ENCOUNTER  CODE  \
0  a9b34fbe-a656-245d-3855-64f1adf274d2   140
1  90573b41-8a94-863c-f021-41ccbba547c6   140
2  29483464-c253-dd9b-49df-4cc77085deac   140
3  fab1fff7-f15b-1646-8d76-6eac99750666   113
4  a3cbc28a-4669-a6c8-bb72-62ce5e101319   140
5  f5693688-59b1-d2e0-1897-71650668718a    20
6  15c0f495-8a32-2dac-d5a8-9b09e7d90aa7   140
7  a4f658fd-332b-577e-2446-c9cccd2634e7   140
8  f8689875-88de-6ea0-5b88-59ab0fd91940    52
9  e4a23cef-8fe0-803a-1987-cd2e5b5d2649   114

                                         DESCRIPTION  BASE_COST  \
0  Influenza  seasonal  injectable  preservative ...     140.52
1  Influenza  seasonal  injectable  preservative ...     140.52
2  Influenza  seasonal  injectable  preservative ...     140.52
3                       Td (adult) preservative free     140.52
4  Influenza  seasonal  injectable  preservative ...     140.52
5                                               DTaP     140.52
6  Influenza  seasonal  injectable  preservative ...     140.52
7  Influenza  seasonal  injectable  preservative ...     140.52
8                                       Hep A  adult     140.52
9                                meningococcal MCV4P     140.52

         cancer_type
0  Colorectal_Cancer
1        Lung_Cancer
2      Breast_Cancer
3  Colorectal_Cancer
4      Breast_Cancer
5  Colorectal_Cancer
6        Lung_Cancer
7  Colorectal_Cancer
8      Breast_Cancer
9        Lung_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db'

medications                   START                  STOP  \
0  2008-07-09T04:03:45Z                  None
1  2006-09-19T00:07:53Z  2006-09-19T00:22:53Z
2  2015-01-29T12:38:16Z                  None
3  1995-04-22T19:20:12Z                  None
4  2001-09-12T09:32:31Z                  None
5  2016-06-11T11:49:58Z  2016-06-11T12:04:58Z
6  2017-09-06T17:46:46Z  2017-09-06T18:01:46Z
7  2000-01-13T07:18:32Z  2004-10-14T07:33:32Z
8  2004-03-21T20:43:32Z                  None
9  2016-08-20T22:24:17Z                  None

                                PATIENT                                 PAYER  \
0  790c338a-1bd7-d389-2bc4-a03ef7314473  6e2f1a2d-27bd-3701-8d08-dae202c58632
1  883bf970-27df-659a-71ab-f44051494b76  b1c428d6-4f07-31e0-90f0-68ffa6ff8c76
2  a77957a3-37bf-e5e5-deeb-920f24051c8f  7caa7254-5050-3b5e-9eae-bd5ea30e809c
3  cd5280ba-3b1f-138a-9095-6c14d28dad53  047f6ec3-6215-35eb-9608-f9dda363a44c
4  3def9006-2154-9ccb-b94e-13a9a4d98b09  d47b3510-2895-3b70-9897-342d681c769d
5  744ec380-15f2-ac6c-ab1b-2c62c22e68b2  7caa7254-5050-3b5e-9eae-bd5ea30e809c
6  1c9add2d-49f5-fe97-849d-f38c96b63f2b  4d71f845-a6a9-3c39-b242-14d25ef86a8d
7  d6137b18-1283-0bea-8331-209f0473f188  6e2f1a2d-27bd-3701-8d08-dae202c58632
8  7ff5ff1d-51a5-fe85-5bbb-a9d1ec5a2fde  047f6ec3-6215-35eb-9608-f9dda363a44c
9  61b5ef0d-a064-5f1e-02ae-6d408e7765aa  4d71f845-a6a9-3c39-b242-14d25ef86a8d

                              ENCOUNTER     CODE  \
0  712851f3-8ef4-695a-2760-c922b1790db4   705129
1  2a61efac-aa4b-44d2-7d4b-6ccbb023b55c  1804799
2  209cdb94-abb3-d7a1-febe-36ba771a56ff   855332
3  06d871cb-f60c-552b-2fc9-511e3b9eb086   197361
4  7657ff10-e09f-d8fc-f598-ef8ae917c4d6   705129
5  a1cef97b-4d9b-dbbb-f1d5-fa519f29a5c1   834357
6  0e2efb93-3855-b94c-dd6a-46a8e4c0129c   834357
7  e9a2c3d7-3594-dc7d-a52b-861d468ee814   309362
8  bfee6bcc-f046-9b10-2b78-82d3a9f5bac3   197361
9  3739fe4e-a097-3b9a-daf6-cf2e56521991   897718

                                         DESCRIPTION  BASE_COST  \
0          Nitroglycerin 0.4 MG/ACTUAT Mucosal Spray      58.05
1                         Alteplase 100 MG Injection    6662.93
2                   Warfarin Sodium 5 MG Oral Tablet      81.48
3                        Amlodipine 5 MG Oral Tablet      60.69
4          Nitroglycerin 0.4 MG/ACTUAT Mucosal Spray      92.86
5  3 ML Amiodarone hydrocholoride 50 MG/ML Prefil...     267.83
6  3 ML Amiodarone hydrocholoride 50 MG/ML Prefil...      84.53
7                      Clopidogrel 75 MG Oral Tablet      80.16
8                        Amlodipine 5 MG Oral Tablet      40.84
9                      Verapamil Hydrochloride 40 MG     253.83

   PAYER_COVERAGE  DISPENSES  TOTALCOST REASONCODE REASONDESCRIPTION  \
0            0.00        151    8765.55       None              None
1            0.00          1    6662.93       None              None
2            0.00         71    5785.08       None              None
3            0.00        176   10681.44       None              None
4            0.00        234   21729.24       None              None
5          227.83          1     267.83       None              None
6            0.00          1      84.53       None              None
7            5.16         57    4569.12       None              None
8            0.00        203    8290.52       None              None
9            0.00         52   13199.16       None              None

         cancer_type
0  Colorectal_Cancer
1        Lung_Cancer
2        Lung_Cancer
3  Colorectal_Cancer
4      Breast_Cancer
5  Colorectal_Cancer
6        Lung_Cancer
7      Breast_Cancer
8  Colorectal_Cancer
9      Breast_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db'

observations                    DATE                               PATIENT ENCOUNTER  CODE  \
0  2016-02-03T18:19:53Z  adaab21d-b067-9626-318f-5a5984771927      None  DALY
1  2017-11-13T23:10:15Z  6ddc1a28-00c1-b993-626a-1b41541ac461      None  QALY
2  2016-10-22T08:23:06Z  6faf9bb8-6985-3e55-9b8c-7ef4bd204ef1      None  QALY
3  2013-07-06T19:50:29Z  acbfc0c8-4313-3be5-ca90-a4f0befe0fd6      None  QOLS
4  2020-05-21T22:47:26Z  2de456cf-4af9-e7ca-75d3-4273f137a78e      None  QOLS
5  2015-10-01T19:33:12Z  621a42ba-cc4c-2699-14bd-625c5c2952ab      None  QALY
6  2012-05-18T16:36:05Z  53a888f2-39af-6111-5cd7-fb32576c8b5c      None  DALY
7  2016-01-16T23:35:20Z  62f50210-b6a7-d08d-8c5e-6e3aa5d06038      None  QALY
8  2014-02-08T08:26:08Z  5eff99ae-54d1-4098-6cea-56fe97f84895      None  QALY
9  2012-12-18T19:12:13Z  f4b0d754-7a20-309c-11fa-95dae9a671bb      None  QOLS

  DESCRIPTION  VALUE    UNITS     TYPE        cancer_type
0        DALY      0        a  numeric        Lung_Cancer
1        QALY     35        a  numeric      Breast_Cancer
2        QALY     53        a  numeric      Breast_Cancer
3        QOLS      1  {score}  numeric  Colorectal_Cancer
4        QOLS      1  {score}  numeric  Colorectal_Cancer
5        QALY     71        a  numeric      Breast_Cancer
6        DALY      0        a  numeric  Colorectal_Cancer
7        QALY     18        a  numeric      Breast_Cancer
8        QALY     66        a  numeric      Breast_Cancer
9        QOLS      1  {score}  numeric  Colorectal_Cancer
SQL tables from drive/MyDrive/calico_ma_repo/Data/CALICO_MA_Database/CALICO_MA_ML.db'

patients                                      Id   BIRTHDATE   DEATHDATE          SSN  \
0  3d527450-4fcc-6d9c-b580-23886f1b2b71  1967-11-27        None  999-60-5617
1  77e3ea22-2040-a3f5-784f-2efeb2edec83  1995-07-15        None  999-97-4248
2  86e2bd14-e97c-76ad-7b68-4dfae7017f01  1985-05-01        None  999-57-2114
3  528b6380-43e8-7493-b3a0-21162d59304f  1952-11-10  2018-01-01  999-90-2577
4  7f15281b-a6d5-5e01-0663-d4c697009d4a  1997-07-26        None  999-48-6612
5  ebbcd8bb-e7e6-cfef-a31c-d76a214fcb6e  1973-11-30        None  999-30-1307
6  a159c72d-a731-fa77-6714-3386edb65e0c  1949-09-01        None  999-85-4637
7  8cb61eed-9a97-362c-c98e-707677421458  2001-04-10        None  999-27-4662
8  018cd61a-915f-1e3d-a068-1b488bb93afa  1981-10-26        None  999-83-4831
9  9d9535d3-8d7e-c04e-c47b-748e832e3771  2004-09-06        None  999-61-6213

     DRIVERS    PASSPORT PREFIX        FIRST          LAST SUFFIX  ...  \
0  S99980761  X47992530X   Mrs.   Lawanna610      Bauch723   None  ...
1  S99924435  X55361261X    Ms.     Clyde817    Monahan736   None  ...
2  S99931437  X38543322X    Mr.      Adán600     Rangel145   None  ...
3  S99988217  X44423355X    Mr.  Cristian531    Arguello39   None  ...
4  S99979145  X73102990X    Ms.    Deedra511      Kunde533   None  ...
5  S99954324  X40158121X    Mr.  Benjamín452      Vigil207   None  ...
6  S99985406  X24638483X   Mrs.    Yvette315    Trantow673   None  ...
7  S99948988        None    Ms.   Ariadna374    Collado928   None  ...
8  S99973828  X15930827X    Mr.  Mckinley734    Cummings51   None  ...
9  S99936233        None   None     Delia459  Marquardt819   None  ...

                          ADDRESS         CITY          STATE  \
0        805 Torphy Ferry Unit 97   Greenfield  Massachusetts
1             435 Anderson Harbor    Watertown  Massachusetts
2  345 Hartmann Extension Unit 40    Fitchburg  Massachusetts
3      870 Johnston Fort Suite 92     Yarmouth  Massachusetts
4            1090 Emmerich Hollow   Shrewsbury  Massachusetts
5               243 Ebert Viaduct       Boston  Massachusetts
6        369 Nikolaus Drive Apt 7     Weymouth  Massachusetts
7           543 Kris Park Unit 99   Leominster  Massachusetts
8         655 Ratke Alley Unit 60  Westhampton  Massachusetts
9                  477 Terry Lane      Peabody  Massachusetts

              COUNTY     ZIP        LAT        LON HEALTHCARE_EXPENSES  \
0    Franklin County  1301.0  42.650612 -72.609628          1149150.00
1   Middlesex County  2472.0  42.393417 -71.223005           674245.00
2   Worcester County  1420.0  42.600479 -71.798554           772500.00
3  Barnstable County     NaN  41.657908 -70.275476          1643900.00
4   Worcester County     NaN  42.331976 -71.728934           535090.00
5     Suffolk County  2109.0  42.466589 -70.990044          1244760.00
6     Norfolk County  2188.0  42.232628 -70.963428          1504220.00
7   Worcester County     NaN  42.500300 -71.727629            45892.44
8   Hampshire County     NaN  42.286168 -72.806268           895030.00
9       Essex County     NaN  42.493204 -71.025502           431585.00

  HEALTHCARE_COVERAGE        cancer_type
0             2874.72      Breast_Cancer
1             2829.80        Lung_Cancer
2             2162.28      Breast_Cancer
3             4604.52  Colorectal_Cancer
4             2555.64        Lung_Cancer
5             3148.08      Breast_Cancer
6             4529.60      Breast_Cancer
7             1974.04        Lung_Cancer
8             2361.44  Colorectal_Cancer
9             2844.00  Colorectal_Cancer

[10 rows x 26 columns]

### Die Daten werden aus den verschiedenen Tabellen extrahiert und ggf. transformiert
 >Die Daten aus **Patients** werden erstmal in die Faktentabelle übertragen. Es handelt sich um die Krebsart, die Patienten ID, die geographische Koordinaten, die Healthcarekosten, die vom Patient getragen werden und diejenigen, die von der Krankenversicherung bezahlt werden, und zum Ende das Geburtsdatum.
Damit die Faktentabelle keine Redundanzen aufweist, werden die Encounter ID nicht mehr einzeln gespeichert. Stattdessen werden in der Faktentabelle für jeden Patienten die gesamten Kosten gespeichert, die in jeder Kategorie (Encounters, Observations, Immunizations, Procedures umd Medications) verursacht wurden.  
Die Transaktion in der Faktentabelle der Datenbank wird mit commit beendet.
**AMENDMENT FOR ML: patient_COUNTY and patient_ZIP included**

ACHTUNG: 53% der Patienten haben keine ZIP

In [129]:
# TEST how many patients undergo Procedures
#cur.execute('''SELECT COUNT(*) from procedures GROUP BY procedures.PATIENT''')
#records = cur.fetchall()
#i=1
#for row in records:
#  print(f'patient', i, 'undergoes ', row,' procedures')
#  i=i+1

In [130]:
# Datenextraktion aus der Patientstabelle
cur.execute('''INSERT INTO facts_table
                    ( cancer_type, patient_ID, encounter_ID, patient_LAT, patient_LON, patient_COUNTY, patient_ZIP, patient_HEALTHCARE_EXPENSES , patient_HEALTHCARE_COVERAGE, patient_BIRTHDATE)
                    SELECT
                        p.cancer_type AS cancer_type,
                        p.Id AS patient_ID,
                        NULL AS encounter_ID,  -- Replace with the actual encounter_ID or set to NULL if not applicable
                        p.LAT AS patient_LAT,
                        p.LON AS patient_LON,
                        p.COUNTY AS patient_COUNTY,
                        p.ZIP AS patient_ZIP,
                        p.HEALTHCARE_EXPENSES AS patient_HEALTHCARE_EXPENSES,
                        p.HEALTHCARE_COVERAGE AS patient_HEALTHCARE_COVERAGE,
                        p.BIRTHDATE AS patient_BIRTHDATE
                    FROM patients p
                    ;''')

# Ende der Transaktion
conn.commit()

# Schnelle Überprüfung der Datenübertragung ins die Faktentabelle
cur.execute('''SELECT patient_ID, patient_COUNTY, patient_ZIP, patient_LON, patient_LAT, patient_HEALTHCARE_EXPENSES, patient_HEALTHCARE_COVERAGE, patient_BIRTHDATE FROM facts_table''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('d2061cc7-bee0-0e6c-3ac4-15c197c474e0', 'Middlesex County', 2140, -71.11326024935221, 42.35992586937376, 1475230, 4244.639999999999, '1956-06-22')
('073d8e80-ff90-1c8d-57e4-29bfca52c87f', 'Worcester County', 1535, -72.02631680460482, 42.25784546955933, 1489125, 4016.36, '1964-08-28')
('e1ff7e68-4097-9faf-514d-e4cfcfdf252e', 'Worcester County', 1545, -71.8184488503781, 42.204289674137854, 57142.44, 2103.2, '1998-08-28')
('a0f679cc-875f-dd72-ed13-9ca863ec6cf3', 'Norfolk County', None, -70.90408406035422, 42.15026973562508, 408520, 2709, '2004-01-20')
('e4166a9c-f7c5-bef7-ea43-b96281a2d586', 'Worcester County', 1609, -71.78487317237207, 42.2920819230455, 320400, 2970.68, '2006-03-23')
('ee537126-7509-05de-2349-ab19604545d8', 'Suffolk County', 2134, -71.04135024287056, 42.347570821295285, 784465, 2738.96, '1991-05-21')
('826d5ce3-2b23-8bd8-b352-a77fdd083d68', 'Middlesex County', 1890, -71.14747985490884, 42.52234296982323, 1425900, 3841.36, '1964-07-20')
('0edfef0f-fa74-ab35-1122-4c537bb9765d', 'Plymouth County', None, -71.00357653769244, 42.00384862981888, 512475, 2470.64, '1997-05-05')
('0fe7e161-0f29-2b70-8e3d-757b15026295', 'Middlesex County', None, -71.68411643063111, 42.58537262421069, 302400, 2583.2, '2008-12-26')
('478e120c-67a4-4375-646f-c41e74f72478', 'Bristol County', None, -71.19387487133108, 41.96958788099574, 1202145, 2892.24, '1971-01-02')

Die Daten werden aus **Observations** eintragen:
nur die Tuples mit dem neuesten Datum werden berücksichtigt. Gespeichert werden die Art der Observation, in unserem Fall **nur den QALY**, den neuesten Wert und das entsprechende Datum. Ausserdem wird das Alter am Tag der letzten Observation berechnet und eingetragen. Die Transaktion wird mit commit beendet. Das Speichern der neuen Einträge wird überprüft.

In [131]:
# Datenextraktion aus der Observationstabelle
cur.execute('''UPDATE
                  facts_table
               SET
                  observations_CODE = obs.CODE,
                  observations_VALUE = obs.maxVALUE,
                  observations_DATE = obs.maxDATE,
                  observations_AGE = obs.maxDATE- patient_BIRTHDATE
               FROM
                    (SELECT PATIENT, CODE, MAX(VALUE) as maxVALUE, MAX(observations.DATE) as maxDATE
                    FROM observations
                    WHERE CODE LIKE "QALY"
                    GROUP BY PATIENT
                    ) AS obs
                WHERE
                  facts_table.patient_ID = obs.PATIENT
                    ;''')

# Ende der Transaktion
conn.commit()

# Schnelle Überprüfung der Datenübertragung ins die Faktentabelle
cur.execute('''SELECT patient_ID, observations_CODE, observations_VALUE, patient_BIRTHDATE, observations_DATE, observations_AGE  FROM facts_table ''')
records = cur.fetchall()
# show 10 rows
for row in records[:30]:
  print(row)

print("\n")

#cur.execute(''' SELECT COUNT(DISTINCT PATIENT) FROM observations''')
#records = cur.fetchall()
#print(f"#patients in observations: {records[-1][-1]}")

#cur.execute(''' SELECT PATIENT, MAX(VALUE), MAX(DATE) FROM observations GROUP BY PATIENT ''')
#records = cur.fetchall()
#for row in records[:50]:
#  print(row)
#print(records[-1][-1])

#print("\n")
#cur.execute(''' SELECT PATIENT, CODE, VALUE, DATE FROM observations WHERE CODE LIKE "DALY" AND VALUE >= 1 ''')
#records = cur.fetchall()
#for row in records[:60]:
#  print(row)
#print("\n")

#cur.execute(''' SELECT PATIENT, CODE, MAX(VALUE), MAX(DATE) FROM observations WHERE PATIENT = "950a56cd-d2d5-785c-d80c-c126912fbf88" AND CODE LIKE "QALY"''')
#records = cur.fetchall()
#for row in records[:60]:
#  print(row)
#print("\n")


#print("\n")

('d2061cc7-bee0-0e6c-3ac4-15c197c474e0', 'QALY', 63, '1956-06-22', '2020-06-22T10:47:46Z', 64)
('073d8e80-ff90-1c8d-57e4-29bfca52c87f', 'QALY', 55, '1964-08-28', '2020-08-28T16:45:45Z', 56)
('e1ff7e68-4097-9faf-514d-e4cfcfdf252e', 'QALY', 21, '1998-08-28', '2020-08-28T07:43:32Z', 22)
('a0f679cc-875f-dd72-ed13-9ca863ec6cf3', 'QALY', 15, '2004-01-20', '2020-01-20T15:27:37Z', 16)
('e4166a9c-f7c5-bef7-ea43-b96281a2d586', 'QALY', 13, '2006-03-23', '2020-03-23T22:58:03Z', 14)
('ee537126-7509-05de-2349-ab19604545d8', 'QALY', 28, '1991-05-21', '2020-05-21T01:23:21Z', 29)
('826d5ce3-2b23-8bd8-b352-a77fdd083d68', 'QALY', 55, '1964-07-20', '2020-07-20T05:08:46Z', 56)
('0edfef0f-fa74-ab35-1122-4c537bb9765d', 'QALY', 22, '1997-05-05', '2020-05-04T22:31:18Z', 23)
('0fe7e161-0f29-2b70-8e3d-757b15026295', 'QALY', 10, '2008-12-26', '2019-12-26T13:49:03Z', 11)
('478e120c-67a4-4375-646f-c41e74f72478', 'QALY', 49, '1971-01-02', '2020-01-02T11:38:08Z', 49)
('622b5d81-6868-03d0-85b2-1d5bb908f6a5', 'QALY', 1, '2018-05-25', '2020-05-25T09:05:41Z', 2)
('9a4276b9-1377-f7fc-e011-1d27499c6d01', 'QALY', 16, '2003-09-13', '2020-09-13T08:21:28Z', 17)
('2cc8c44f-74da-eae3-72ae-ba126845090f', 'QALY', 22, '1997-10-21', '2020-10-21T02:35:08Z', 23)
('997c74a7-dd20-7297-43cf-eac7288e5600', 'QALY', 73, '1946-11-20', '2020-11-20T16:08:00Z', 74)
('b4001499-a15a-980e-e3bb-e73b63045411', 'QALY', 78.9, '1936-10-14', '2020-10-14T15:26:07Z', 84)
('0d66b030-4794-8f98-431f-b9278319483b', 'QALY', 63, '1956-11-10', '2020-11-10T04:41:11Z', 64)
('70b626d0-ac97-e723-5e28-7648fd1bc9cf', 'QALY', 31, '1988-08-31', '2020-08-31T07:30:32Z', 32)
('daf6ffbc-efad-50be-8816-a2e6d456477b', 'QALY', 74, '1945-07-20', '2020-07-20T19:41:20Z', 75)
('6c7c535b-322d-362f-2767-f80b0a03b7f8', 'QALY', 30.6, '1983-04-06', '2020-04-06T20:15:30Z', 37)
('acf9dbc7-08f4-7241-229f-3bad03a29acc', 'QALY', 29, '1990-05-21', '2020-05-21T07:19:27Z', 30)
('469faecb-5a98-fdc4-1ce1-cd200ca5868d', 'QALY', 56, '1963-10-06', '2020-10-05T23:07:31Z', 57)
('17eeae84-fd93-4f1f-e4f4-d01f4b3d6819', 'QALY', 25, '1994-03-21', '2020-03-21T02:21:40Z', 26)
('33684ffd-e9d9-4ed4-ec47-b12ebb06642b', 'QALY', 65, '1954-09-19', '2020-09-19T08:13:26Z', 66)
('f5a6e3b3-781d-d800-d4c3-1782e39258e8', 'QALY', 76.9, '1942-04-01', '2020-04-01T02:29:33Z', 78)
('cb62ff66-c7a3-dec3-01c3-f7596d1f569e', 'QALY', 63.4, '1955-02-01', '2020-02-01T18:37:33Z', 65)
('172337a7-9ac6-39cd-37db-20e1fcab4f2e', 'QALY', 49, '1970-11-27', '2020-11-27T09:14:30Z', 50)
('224d86b9-eeda-e164-7e1f-cba4ec973cc6', 'QALY', 12, '2007-11-24', '2020-11-24T14:42:02Z', 13)
('1c212fec-e110-ee77-3f78-eb6141aca633', 'QALY', 40, '1979-06-29', '2020-06-29T10:10:32Z', 41)
('f8871273-1db8-1c87-fe2e-f87766b4e7f5', 'QALY', 14, '2005-07-09', '2020-07-09T21:35:20Z', 15)
('5ea2c6ab-c205-ca9a-9e57-3acf569b93bf', 'QALY', 37, '1981-12-07', '2019-12-07T03:31:26Z', 38)

Die Daten werden aus **Encounters** eintragen. Es handelt sich um die Summe aller Encounter Kosten für jeden einzelnen Patienten.
Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen.
Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft.

In [132]:
# Datenextraktion aus der Encounterstabelle und Berechnung der Summe aller Encounterkosten für jeden Patienten
cur.execute('''UPDATE
                  facts_table
               SET
                  encounter_Base_Encounter_Cost = enc.TOTALCOST
               FROM
                    (SELECT PATIENT, SUM(BASE_ENCOUNTER_COST) as TOTALCOST
                    FROM encounters, facts_table
                    WHERE facts_table.patient_ID = encounters.PATIENT
                    GROUP BY PATIENT
                    ) AS enc
                WHERE
                  facts_table.patient_ID = enc.PATIENT
                    ;''')

# Ende der Transaktion
conn.commit()

# Falls es keine Encounterkosten gibt, wird der Wert 0 stattdessen eingetragen
cur.execute('''UPDATE
                  facts_table
               SET
                  encounter_Base_Encounter_Cost = 0
                WHERE encounter_Base_Encounter_Cost IS NULL
                    ;''')

# Ende der Transaktion
conn.commit()

# Kurze Überprüfung
cur.execute('''SELECT patient_ID, encounter_BASE_ENCOUNTER_COST FROM facts_table''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('d2061cc7-bee0-0e6c-3ac4-15c197c474e0', 1291.6000000000001)
('073d8e80-ff90-1c8d-57e4-29bfca52c87f', 1033.28)
('e1ff7e68-4097-9faf-514d-e4cfcfdf252e', 1033.28)
('a0f679cc-875f-dd72-ed13-9ca863ec6cf3', 1291.6000000000001)
('e4166a9c-f7c5-bef7-ea43-b96281a2d586', 1291.6000000000001)
('ee537126-7509-05de-2349-ab19604545d8', 387.48)
('826d5ce3-2b23-8bd8-b352-a77fdd083d68', 1033.28)
('0edfef0f-fa74-ab35-1122-4c537bb9765d', 904.1199999999999)
('0fe7e161-0f29-2b70-8e3d-757b15026295', 1420.7600000000002)
('478e120c-67a4-4375-646f-c41e74f72478', 645.8)

In [133]:
cur.execute('''SELECT patient_ID, encounter_BASE_ENCOUNTER_COST, SUM(BASE_ENCOUNTER_COST)
                FROM facts_table, encounters WHERE facts_table.patient_ID = encounters.PATIENT
                GROUP BY patient_ID''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('001c3804-81e8-740e-dd91-973b584a2dd9', 387.48, 387.48)
('002a707d-ba35-3d1a-46c0-ad8a98a22137', 774.9599999999999, 774.9599999999999)
('003c0d44-9dfc-ca91-6121-373a8e265bd4', 1446.5800000000002, 1446.5800000000002)
('008b26ab-5c12-7a5b-cda4-f54484d5f749', 1291.6000000000001, 1291.6000000000001)
('009121bf-a672-8942-443e-85e18a33f766', 1162.44, 1162.44)
('00e798f6-7d02-8485-c5fd-4b6bfb114c69', 516.64, 516.64)
('00edcb46-afd4-4687-c16a-f4e20dfc3e92', 1188.26, 1188.26)
('0103a559-910a-03df-6117-ec429eeb4ac9', 774.9599999999999, 774.9599999999999)
('01518fe2-bd76-d1e9-a656-1e7eae35dd17', 1446.5800000000002, 1446.5800000000002)
('01581211-2e47-027b-71a0-dcbf0f4e6622', 1317.42, 1317.42)

Die Daten werden aus **Medications** eintragen. Es handelt sich um die Summe aller MedikationsKosten für jeden einzelnen Patienten.
Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen.
Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft.

In [134]:
cur.execute('''     UPDATE facts_table SET medications_TotalCost = med.TOTALCOST
                    FROM
                    (SELECT PATIENT, SUM(Totalcost) as TOTALCOST
                    FROM medications, facts_table
                    WHERE facts_table.patient_ID = medications.PATIENT
                    GROUP BY PATIENT) as med
                    WHERE facts_table.patient_ID = med.PATIENT
                    ;''')
conn.commit()

In [135]:
cur.execute('''UPDATE
                  facts_table
               SET
                  medications_TOTALCOST = 0
                WHERE medications_TOTALCOST IS NULL
                    ;''')
conn.commit()

In [136]:
cur.execute('''SELECT patient_ID, medications_TOTALCOST, SUM(TOTALCOST)
                FROM facts_table, medications WHERE facts_table.patient_ID = medications.PATIENT
                GROUP BY patient_ID''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('003c0d44-9dfc-ca91-6121-373a8e265bd4', 30329.850000000002, 30329.85)
('01d6dc15-6313-5327-8491-49be72f40d59', 113865.26, 113865.26000000001)
('023c4bb2-6dc3-972e-379a-af19b8a2392d', 117956.49000000002, 117956.49)
('02db7f22-8617-0cf7-fa10-d820d596a81a', 101166.45000000001, 101166.45000000001)
('030287cd-dbd1-d7e1-6959-cfdfa0e271bd', 230.28, 230.28)
('037404e1-0c87-534d-0fe2-e21ef20640f6', 70052.88, 70052.88)
('038eb669-b744-c2bc-18c6-6e37068c722f', 49598.27, 49598.270000000004)
('05023597-744e-9369-c390-e4090447a247', 63036.16, 63036.16)
('05a3a33e-e9b1-0aaa-66f4-f0e2b57dce04', 3219.0699999999997, 3219.0699999999997)
('072229fb-e8b1-a9ff-61b1-0cdab70c3c4c', 6615.34, 6615.34)

Die Daten werden aus **Procedures** eintragen. Es handelt sich um die Summe aller Prozedurenkosten für jeden einzelnen Patienten. Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen. Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft

In [137]:
cur.execute('''     UPDATE facts_table SET procedures_BASE_COST = proc.TOTALCOST
                    FROM
                    (SELECT PATIENT, SUM(BASE_COST) as TOTALCOST
                    FROM procedures, facts_table
                    WHERE facts_table.patient_ID = procedures.PATIENT
                    GROUP BY PATIENT) as proc
                    WHERE facts_table.patient_ID = proc.PATIENT
                    ;''')
conn.commit()

In [138]:
cur.execute('''UPDATE
                  facts_table
               SET
                  procedures_BASE_COST = 0
                WHERE procedures_BASE_COST IS NULL
                    ;''')
conn.commit()

In [139]:
cur.execute('''SELECT patient_ID, procedures_Base_COST, SUM(Base_COST)
                FROM facts_table, procedures WHERE facts_table.patient_ID = procedures.PATIENT
                GROUP BY patient_ID''')
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('003c0d44-9dfc-ca91-6121-373a8e265bd4', 297586.43, 297586.43)
('00edcb46-afd4-4687-c16a-f4e20dfc3e92', 23882.18, 23882.18)
('01518fe2-bd76-d1e9-a656-1e7eae35dd17', 22514.35, 22514.35)
('01581211-2e47-027b-71a0-dcbf0f4e6622', 34044.95, 34044.95)
('01d6dc15-6313-5327-8491-49be72f40d59', 405522.31, 405522.31)
('023c4bb2-6dc3-972e-379a-af19b8a2392d', 56170.43, 56170.43)
('030287cd-dbd1-d7e1-6959-cfdfa0e271bd', 34779.04, 34779.04)
('037404e1-0c87-534d-0fe2-e21ef20640f6', 28800.590000000004, 28800.59)
('038eb669-b744-c2bc-18c6-6e37068c722f', 225341.52000000002, 225341.52)
('05398088-a847-099e-3c61-c6153d83e024', 35182.2, 35182.2)

Die Daten werden aus **Immunizations** eintragen. Es handelt sich um die Summe aller Immunizationskosten für jeden einzelnen Patienten. Falls dieser Wert nicht existiert, wird an ihrer Stelle 0 eingetragen. Jede Transaktion wird mit commt beendet. Das Speichern der neuen Einträge in die Faktentabelle wird überprüft

In [140]:
cur.execute('''     UPDATE facts_table SET immunizations_Base_Cost = im.TOTALCOST
                    FROM
                    (SELECT PATIENT, SUM(Base_Cost) as TOTALCOST
                    FROM immunizations, facts_table
                    WHERE facts_table.patient_ID = immunizations.PATIENT
                    GROUP BY PATIENT) as im
                    WHERE facts_table.patient_ID = im.PATIENT
                    ;''')
conn.commit()

In [141]:
cur.execute('''UPDATE
                  facts_table
               SET
                  immunizations_BASE_COST = 0
                WHERE immunizations_BASE_COST IS NULL
                    ;''')
conn.commit()

In [142]:
cur.execute(''' SELECT patient_ID, immunizations_BASE_COST, SUM(BASE_COST) FROM facts_table, immunizations
                WHERE facts_table.patient_ID = immunizations.PATIENT
                GROUP BY patient_ID''' )
records = cur.fetchall()
# show 10 rows
for row in records[:10]:
  print(row)

('001c3804-81e8-740e-dd91-973b584a2dd9', 562.08, 562.08)
('002a707d-ba35-3d1a-46c0-ad8a98a22137', 1264.68, 1264.68)
('003c0d44-9dfc-ca91-6121-373a8e265bd4', 1405.2, 1405.2)
('008b26ab-5c12-7a5b-cda4-f54484d5f749', 1545.72, 1545.72)
('009121bf-a672-8942-443e-85e18a33f766', 1545.72, 1545.72)
('00e798f6-7d02-8485-c5fd-4b6bfb114c69', 983.64, 983.64)
('00edcb46-afd4-4687-c16a-f4e20dfc3e92', 1545.72, 1545.72)
('0103a559-910a-03df-6117-ec429eeb4ac9', 1264.68, 1264.68)
('01518fe2-bd76-d1e9-a656-1e7eae35dd17', 1826.76, 1826.76)
('01581211-2e47-027b-71a0-dcbf0f4e6622', 1686.24, 1686.24)

> Werte in der Faktentabelle haben Komma statt Dot für die Dezimale. Konvertierung dieser.

In [143]:
cur.execute(''' UPDATE facts_table SET
patient_LAT = REPLACE(patient_LAT,',','.'),
patient_LON = REPLACE(patient_LON,',','.'),
patient_HEALTHCARE_EXPENSES = REPLACE(patient_HEALTHCARE_EXPENSES,',','.'),
patient_HEALTHCARE_COVERAGE = REPLACE(patient_HEALTHCARE_COVERAGE,',','.')
;''')
conn.commit()

##Das Datawarehouse ist fertig ausgefüllt.
Hier werden die ersten Tupeln der Faktentabelle angezeigt.
Der "None"-Eintrag entspricht der Spalte für Encounters. Diese Spalte wird nicht benutzt, deshalb wurde sie nicht ausgefüllt.

In [144]:
cur.execute('''SELECT * FROM facts_table
 ORDER BY RANDOM()''')
records = cur.fetchall()
# show 4 rows
for row in records[:30]:
  print(row)

('Breast_Cancer', '94f48939-0594-53c8-f7da-996aa887fe5f', None, 41.9283192930599, -71.3978013233582, 'Bristol County', 2703, 15400, 516.64, '2020-06-21', 'QALY', 0, '2020-06-21T06:00:09Z', 0, 0, 0, 1686.24, 516.64)
('Breast_Cancer', 'f34dae69-de67-8541-042d-df4671369643', None, 42.3100339434173, -71.1055244423829, 'Suffolk County', 2116, 660202.23, 2102.28, '1988-09-27', 'QALY', 26.3, '2020-09-27T14:33:11Z', 32, 0, 0, 562.08, 516.64)
('Colorectal_Cancer', '60d8cacf-1fb4-228d-6e6a-fdbe7e9be9b1', None, 41.979602200122, -70.9494293899555, 'Plymouth County', 2324, 5037.24, 0, '1971-06-28', 'QALY', 48, '2020-06-28T07:28:26Z', 49, 0, 0, 1124.16, 645.8)
('Breast_Cancer', 'c769c552-e932-c403-1a24-73001ce334a7', None, 42.3374116953539, -71.0216377863025, 'Norfolk County', 2171, 612180, 2665.64, '1996-09-25', 'QALY', 23, '2020-09-25T13:28:04Z', 24, 0, 0, 1405.2, 774.9599999999999)
('Breast_Cancer', '5745bb2e-d3b4-dd64-2821-c0e51442037e', None, 41.9055618437118, -70.8257952497624, 'Plymouth County', None, 901885, 2506.44, '1983-06-24', 'QALY', 36, '2020-06-24T12:54:27Z', 37, 0, 0, 702.6, 516.64)
('Lung_Cancer', '28eff14d-f5f0-5afa-06df-d9b34ba845f3', None, 42.2098579117827, -71.7918436151348, 'Worcester County', None, 640725, 2278.96, '1991-06-06', 'QALY', 28, '2020-06-06T13:00:08Z', 29, 0, 0, 843.12, 387.48)
('Lung_Cancer', '05ce875e-547f-a09d-3bbc-9de5f6f5a695', None, 41.4402143360176, -70.6151762435439, 'Dukes County', None, 1356450, 3866.32, '1958-05-21', 'QALY', 61, '2020-05-21T13:43:17Z', 62, 0, 0, 1545.72, 1291.6000000000001)
('Breast_Cancer', 'acf9dbc7-08f4-7241-229f-3bad03a29acc', None, 42.2766996276058, -71.1158775952769, 'Norfolk County', 2215, 810920, 2683.96, '1990-05-21', 'QALY', 29, '2020-05-21T07:19:27Z', 30, 0, 0, 843.12, 387.48)
('Colorectal_Cancer', '2777c495-706c-7e23-cab8-dcd6133fec19', None, 42.649602422368, -73.0885594511278, 'Berkshire County', 1247, 982440, 2651.44, '1982-01-30', 'QALY', 37, '2020-01-30T19:27:52Z', 38, 0, 0, 562.08, 387.48)
('Colorectal_Cancer', 'a050cf42-4e20-4138-3cd0-d5d21bc3f9e9', None, 42.2350300738754, -70.8848859443472, 'Norfolk County', 2189, 1351800, 3632.15, '1961-11-05', 'QALY', 58, '2020-11-05T13:51:57Z', 59, 61233.14, 0, 1686.24, 1394.91)
('Colorectal_Cancer', 'fb943999-a364-1914-4dd7-e153b161545a', None, 42.3040055920836, -71.01296936252, 'Suffolk County', 2113, 594880, 2865.64, '1998-07-20', 'QALY', 21, '2020-07-20T08:27:00Z', 22, 0, 0, 1826.76, 1033.28)
('Lung_Cancer', '38421270-49c8-8665-29e3-73716ffd69bd', None, 41.7589873925247, -71.2506447670061, 'Bristol County', None, 1584805, 4823.76, '1948-09-26', 'QALY', 71, '2020-09-25T23:50:15Z', 72, 0, 0, 1686.24, 1162.44)
('Breast_Cancer', 'eacaf1a4-762b-9028-40f5-fc2e7d259ccb', None, 42.3466816337187, -71.0394678710916, 'Suffolk County', 2132, 1340390, 3922.12, '1952-11-13', 'QALY', 67, '2020-11-13T06:25:08Z', 68, 0, 0, 1826.76, 1291.6000000000001)
('Lung_Cancer', 'f7b24f3c-5922-63f3-bb6b-971ddfe25557', None, 42.3946076540405, -71.015860787967, 'Suffolk County', 2110, 784740, 2563.96, '1989-12-05', 'QALY', 29, '2019-12-05T08:07:20Z', 30, 0, 0, 843.12, 387.48)
('Lung_Cancer', '17d0295e-73a0-ac2d-1746-114a3ff29d06', None, 42.8826117227732, -70.8585772059941, 'Essex County', 1952, 1538535, 4310.48, '1957-01-13', 'QALY', 62, '2020-01-13T12:07:00Z', 63, 0, 0, 1545.72, 1291.6000000000001)
('Breast_Cancer', '028848bc-1f0d-adaf-8f13-567ff4488924', None, 42.3434632065096, -72.0181295990757, 'Worcester County', None, 1088015, 2763.92, '1975-10-04', 'QALY', 44, '2020-10-04T06:23:17Z', 45, 0, 0, 983.64, 516.64)
('Lung_Cancer', '48e0e484-5ce8-ac31-4e99-3e7b62cf0030', None, 41.7499627982557, -70.5576881026213, 'Barnstable County', 2532, 1346040, 3513.88, '1967-09-06', 'QALY', 52, '2020-09-06T20:00:43Z', 53, 0, 0, 1405.2, 904.1199999999999)
('Lung_Cancer', 'da6db106-1a90-36e3-6b58-ba2ec03f4f2a', None, 42.0571442841234, -72.6039370850356, 'Hampden County', 1105, 100284.96, 2098.16, '1987-09-04', 'QALY', 32, '2020-09-04T06:28:05Z', 33, 0, 0, 562.08, 387.48)
('Lung_Cancer', '1a558c8a-bf13-20d2-57ed-db46369bfd81', None, 42.5834061459821, -71.4958387410432, 'Middlesex County', None, 273000, 2454.04, '2010-03-09', 'QALY', 9, '2020-03-09T18:30:04Z', 10, 0, 0, 2810.4, 1808.2400000000005)
('Colorectal_Cancer', 'a81e75a5-b892-d036-5e7b-a0259a47a5d5', None, 42.3924921787217, -71.1106228546128, 'Middlesex County', 2155, 118800, 1808.24, '2015-07-08', 'QALY', 4, '2020-07-08T02:12:15Z', 5, 0, 0, 4496.640000000001, 1808.2400000000005)
('Breast_Cancer', '93be14fe-518f-2c26-69f6-bbc44bf81158', None, 41.9143668332407, -71.2456163340539, 'Bristol County', 2861, 1682590, 12169.7, '1942-11-22', 'QALY', 76.9, '2020-11-22T06:11:49Z', 78, 27936.23, 6626.820000000001, 1545.72, 1420.7600000000002)
('Colorectal_Cancer', 'fba26d3f-fbd7-46fa-4816-7fa26e5e7144', None, 42.3506785876974, -71.0387942523002, 'Suffolk County', 2119, 581170, 2575.64, '1996-11-22', 'QALY', 23, '2020-11-22T10:04:42Z', 24, 0, 0, 1545.72, 904.1199999999999)
('Breast_Cancer', '29bcfb98-e507-642e-b4fc-e48fd77581fc', None, 41.9129607570629, -71.0161662769872, 'Bristol County', None, 1244700, 3370.52, '1963-07-20', 'QALY', 56, '2020-07-20T12:08:36Z', 57, 0, 0, 1686.24, 1162.44)
('Breast_Cancer', '01b18347-90d9-e2b1-b142-8252c92cef8c', None, 42.7327575395844, -73.1164403963086, 'Berkshire County', None, 1293420, 3596.32, '1957-10-18', 'QALY', 62, '2020-10-18T18:20:50Z', 63, 0, 0, 1405.2, 1162.44)
('Lung_Cancer', '5dd49a88-88a0-ad38-889e-4b806420446d', None, 42.5032872472346, -71.2421790220734, 'Middlesex County', None, 550770, 2846.48, '2000-03-17', 'QALY', 19, '2020-03-17T22:54:44Z', 20, 0, 0, 2107.8, 1162.44)
('Lung_Cancer', 'e5346664-6e36-2c2b-e700-da997489c8d0', None, 42.2334793183818, -71.8033194712169, 'Worcester County', 1605, 742555, 2719.8, '1992-11-28', 'QALY', 27, '2020-11-28T19:04:32Z', 28, 0, 0, 983.64, 516.64)
('Breast_Cancer', '4be3db3f-d095-76fb-3db5-1de4df892cca', None, 41.7020739271984, -70.442427415011, 'Barnstable County', None, 1456390, 4951.2, '1940-06-12', 'QALY', 78.3, '2020-06-11T23:45:55Z', 80, 308555.47000000003, 17914.29, 1545.72, 1291.6000000000001)
('Lung_Cancer', 'cc3ce8cd-7f3c-5225-ff4d-ec047cf2e178', None, 41.7682001914954, -70.8927991671287, 'Bristol County', 2743, 72570.68, 3066.4, '1946-10-16', 'QALY', 73, '2020-10-16T12:05:09Z', 74, 0, 0, 1826.76, 1291.6000000000001)
('Breast_Cancer', 'd5f292de-7541-5270-b783-c23d8efb844d', None, 42.6539963399593, -71.3239384434712, 'Middlesex County', None, 1110450, 2870.6, '1978-12-27', 'QALY', 40, '2019-12-27T16:40:08Z', 41, 0, 0, 562.08, 387.48)
('Lung_Cancer', 'aeef69b7-73c4-f7ce-170d-f2c2d1fde677', None, 42.456100598428, -71.0595466913062, 'Middlesex County', 2148, 1321815, 3222.24, '1970-12-30', 'QALY', 48, '2019-12-30T06:45:36Z', 49, 0, 0, 1124.16, 645.8)

In [145]:
print(pd.read_sql_query("PRAGMA table_info('facts_table')", conn))

    cid                           name           type  notnull dflt_value  pk
0     0                    cancer_type         STRING        0       None   0
1     1                     patient_ID         STRING        0       None   0
2     2                   encounter_ID         STRING        0       None   0
3     3                    patient_LAT   DECIMAL(6,2)        0       None   0
4     4                    patient_LON   DECIMAL(6,2)        0       None   0
5     5                 patient_COUNTY         STRING        0       None   0
6     6                    patient_ZIP         STRING        0       None   0
7     7    patient_HEALTHCARE_EXPENSES   DECIMAL(9,2)        0       None   0
8     8    patient_HEALTHCARE_COVERAGE   DECIMAL(9,2)        0       None   0
9     9              patient_BIRTHDATE           DATE        0       None   0
10   10              observations_CODE         STRING        0       None   0
11   11             observations_VALUE         STRING        0       None   0
12   12              observations_DATE           DATE        0       None   0
13   13               observations_AGE   DECIMAL(6,2)        0       None   0
14   14           procedures_BASE_COST  DECIMAL(11,2)        0       None   0
15   15          medications_TOTALCOST  DECIMAL(11,2)        0       None   0
16   16        immunizations_BASE_COST  DECIMAL(11,2)        0       None   0
17   17  encounter_BASE_ENCOUNTER_COST  DECIMAL(11,2)        0       None   0

# Bereinigung der Faktentabelle

## Delele all rows with Age = 0

In [146]:
cur.execute('''SELECT COUNT(*)  FROM facts_table
 WHERE observations_AGE == 0''')
result = cur.fetchall()
print(f"Number of rows where observations_AGE == 0 : {result[-1][-1]}")
print("\n")

cur.execute(''' DELETE FROM facts_table WHERE observations_AGE = 0
;''')
conn.commit()

cur.execute('''SELECT COUNT(*)  FROM facts_table
 WHERE observations_AGE == 0''')
result = cur.fetchall()
print(f"Nach Bereinigung: Number of rows where observations_AGE == 0 : {result[-1][-1]}")
print("\n")

Number of rows where observations_AGE == 0 : 30


Nach Bereinigung: Number of rows where observations_AGE == 0 : 0

##Close Database connection

In [147]:
#conn.close()
#print("The Sqlite connection is closed")